---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1022174&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1022174,"date":"Wednesday, March 10, 2021","gameNumber":"123","venue":"RWJ
        Barnabas Health Hockey House","attendance":0,"startTime":"7:00 pm","endTime":"7:34
        pm","duration":"0:34","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1022174","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1022174","ticketsUrl":"","started":"1","final":"1","publicNotes":"Game
        suspended after 1st period due to league COVID protocols. To be replayed in
        its entirety on April 26.","status":"Final","seasonId":"68","htvGameId":"940402","GameDateISO8601":"2021-03-10T19:00:00-05:00"},"referees":[{"firstName":"Mitch","lastName":"Dunning","jerseyNumber":43,"role":"Referee"},{"firstName":"Conor","lastName":"O'Donnell","jerseyNumber":41,"role":"Referee"}],"linesmen":[{"firstName":"Ryan","lastName":"Knapp","jerseyNumber":73,"role":"Linesman"},{"firstName":"J.P.","lastName":"Waleski","jerseyNumber":14,"role":"Linesman"}],"mostValuablePlayers":[],"hasShootout":false,"homeTeam":{"info":{"id":414,"name":"Binghamton
        Devils","city":"Binghamton","nickname":"Devils","abbreviation":"BNG","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/414_68.jpg","divisionName":"North
        Division"},"stats":{"shots":11,"goals":1,"hits":0,"powerPlayGoals":1,"powerPlayOpportunities":1,"goalCount":1,"assistCount":2,"penaltyMinuteCount":2,"infractionCount":1},"media":{"audioUrl":"https:\/\/www.binghamtondevils.com\/fan-zone\/listenlive\/","videoUrl":"","webcastUrl":"http:\/\/ahltv.com\/"},"coaches":[{"firstName":"Mark","lastName":"Dennehy","role":"Head
        Coach"},{"firstName":"Sergei","lastName":"Brylin","role":"Assistant Coach"},{"firstName":"Ryan","lastName":"Parent","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":4943,"firstName":"Connor","lastName":"Carrick","jerseyNumber":5,"position":"D","birthDate":"1994-04-13"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":0,"hits":0},"starting":1,"status":""},{"info":{"id":6362,"firstName":"Colton","lastName":"White","jerseyNumber":6,"position":"D","birthDate":"1997-05-03"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":"A"},{"info":{"id":3927,"firstName":"Ben","lastName":"Street","jerseyNumber":10,"position":"C","birthDate":"1987-02-13"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1022174&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":7869,"firstName":"Gilles","lastName":"Senn","jerseyNumber":31,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"414","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":6424,"firstName":"Alex","lastName":"Lyon","jerseyNumber":34,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"313","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":6362,"firstName":"Colton","lastName":"White","jerseyNumber":6,"position":"D","birthDate":""},"goalie":{"id":6424,"firstName":"Alex","lastName":"Lyon","jerseyNumber":34,"position":"G","birthDate":""},"shooterTeamId":"414","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:10","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Snap","xLocation":202,"yLocation":236}},{"event":"shot","details":{"shooter":{"id":4957,"firstName":"Derrick","lastName":"Pouliot","jerseyNumber":51,"position":"D","birthDate":""},"goalie":{"id":7869,"firstName":"Gilles","lastName":"Senn","jerseyNumber":31,"position":"G","birthDate":""},"shooterTeamId":"313","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:29","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Slap","xLocation":405,"yLocation":219}},{"event":"shot","details":{"shooter":{"id":5940,"firstName":"Danick","lastName":"Martel","jerseyNumber":62,"position":"LW","birthDate":""},"goalie":{"id":6424,"firstName":"Alex","lastName":"Lyon","jerseyNumber":34,"position":"G","birthDate":""},"shooterTeamId":"414","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:08","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Slap","xLocation":103,"yLocation":165}},{"event":"shot","details":{"shooter":{"id":2402,"firstName":"Chris","lastName":"Mueller","jerseyNumber":86,"position":"C","birthDate":""},"goalie":{"id":7869,"firstName":"Gilles","lastName":"Senn","jerseyNumber":31,"position":"G","birthDate":""},"shooterTeamId":"313","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:22","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Slap","xLocation":401,"yLocation":78}},{"event":"penalty","details":{"game_penalty_id":"248958","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:39","againstTeam":{"id":313,"name":"","city":"","nickname":"","abbreviation":"LHV","logo":""},"minutes":"2.00","description":"Hooking","ruleNumber":"","takenBy":{"id":6062,"firstName":"Samuel","lastName":"Morin","jerseyNumber":55,"position":"D","birthDate":""},"servedBy":{"id":6062,"firstName":"Samuel","lastName":"Morin","jerseyNumber":55,"position":"D","birthDate":""},"isPowerPlay":true,"isBench":false}},{"event":"shot","details":{"shooter":{"id":8408,"firstName":"Reilly","lastName":"Walsh","jerseyNumber":22,"position":"D","birthDate":""},"goalie":{"id":6424,"firstName":"Alex","lastName":"Lyon","jerseyNumber":34,"position":"G","birthDate":""},"shooterTeamId":"414","period":{"id":"1","shortName":"1","longName":"1st"},"time":"3:13","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Snap","xLocation":183,"yLocation":209}},{"event":"shot","details":{"shooter":{"id":8049,"firstName":"Jesper","lastName":"Boqvist","jerseyNumber":90,"position":"LW","birthDate":""},"goalie":{"id":6424,"firstName":"Alex","lastName":"Lyon","jerseyNumber":34,"position":"G","birthDate":""},"shooterTeamId":"414","period":{"id":"1","shortName":"1","longName":"1st"},"time":"3:29","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Wrist","xLocation":117,"yLocation":103}},{"event":"shot","details":{"shooter":{"id":8598,"firstName":"Graeme","lastName":"Clarke","jerseyNumber":92,"position":"RW","birthDate":""},"goalie":{"id":6424,"firstName":"Alex","lastName":"Lyon","jerseyNumber":34,"position":"G","birthDate":""},"shooterTeamId":"414","period":{"id":"1","shortName":"1","longName":"1st"},"time":"4:17","isGoal":true,"shotQuality":"Quality
        goal","shotType":"Snap","xLocation":94,"yLocation":114}},{"event":"goal","details":{"game_goal_id":"111207","team":{"id":414,"name":"","city":"","nickname":"","abbreviation":"BNG","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"4:17","scorerGoalNumber":"2","scoredBy":{"id":8598,"firstName":"Graeme","lastName":"Clarke","jerseyNumber":92,"position":"RW","birthDate":""},"assists":[{"id":7867,"firstName":"Fabian","lastName":"Zetterlund","jerseyNumber":20,"position":"C","birthDate":""},{"id":8405,"firstName":"Nolan","lastName":"Foote","jerseyNumber":25,"position":"LW","birthDate":""}],"assistNumbers":["2","5"],"properties":{"isPowerPlay":"1","isShortHanded":"0","isEmptyNet":"0","isPenaltyShot":"0","isInsuranceGoal":"0","isGameWinningGoal":"0"},"plus_players":[{"id":4943,"firstName":"Connor","lastName":"Carrick","jerseyNumber":5,"position":"D","birthDate":""},{"id":7027,"firstName":"Brett","lastName":"Seney","jerseyNumber":11,"position":"C","birthDate":""},{"id":7867,"firstName":"Fabian","lastName":"Zetterlund","jerseyNumber":20,"position":"C","birthDate":""},{"id":8405,"firstName":"Nolan","lastName":"Foote","jerseyNumber":25,"position":"LW","birthDate":""},{"id":8598,"firstName":"Graeme","lastName":"Clarke","jerseyNumber":92,"position":"RW","birthDate":""}],"minus_players":[{"id":7847,"firstName":"Mason","lastName":"Millman","jerseyNumber":8,"position":"D","birthDate":""},{"id":7121,"firstName":"Isaac","lastName":"Ratcliffe","jerseyNumber":19,"position":"LW","birthDate":""},{"id":7849,"firstName":"Wyatte","lastName":"Wylie","jerseyNumber":28,"position":"D","birthDate":""},{"id":4334,"firstName":"Garrett","lastName":"Wilson","jerseyNumber":49,"position":"LW","birthDate":""}],"xLocation":94,"yLocation":114}},{"event":"shot","details":{"shooter":{"id":8447,"firstName[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
