---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_id=4&season_id=65&site_id=3&team_id=335&view=roster
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"teamName":"Toronto Marlies","teamLogo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg","seasonName":"2019-20
        Regular Season","divisionName":"North Division","roster":[{"sections":[{"title":"Forwards","headers":{"tp_jersey_number":{"properties":{"key":"tp_jersey_number","hidden":false,"class":"","label":"#","title":"","sortable":true,"align":"right","highlight":false,"sortKey":""}},"name":{"properties":{"key":"name","hidden":false,"class":"","label":"Name","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"position":{"properties":{"key":"position","hidden":false,"class":"","label":"Pos","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"shoots":{"properties":{"key":"shoots","hidden":false,"class":"","label":"Shoots","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"height_hyphenated":{"properties":{"key":"height_hyphenated","hidden":false,"class":"","label":"Height","title":"Height","sortable":true,"align":"center","highlight":false,"sortKey":""}},"w":{"properties":{"key":"w","hidden":false,"class":"","label":"Weight","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"birthdate":{"properties":{"key":"birthdate","hidden":false,"class":"","label":"DOB","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"birthplace":{"properties":{"key":"birthplace","hidden":false,"class":"","label":"Birth
        place","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"player_id":{"properties":{"key":"player_id","hidden":true,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}}},"data":[{"prop":{"name":{"playerLink":"7363","seoName":"Aaron
        Luchuk"}},"row":{"shoots":"L","birthplace":"Kingston, ON","height_hyphenated":"5-10","player_id":"7363","birthdate":"1997-04-04","tp_jersey_number":"9","position":"C","w":"186","name":"Aaron
        Luchuk"}},{"prop":{"name":{"playerLink":"7026","seoName":"Tanner MacMaster"}},"row":{"shoots":"L","birthplace":"Calgary,
        AB","height_hyphenated":"6-0","player_id":"7026","birthdate":"1996-01-08","tp_jersey_number":"10","position":"LW","w":"185","name":"Tanner
        MacMaster"}},{"prop":{"name":{"playerLink[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division=-1&feed=statviewfeed&first=0&key=50c2cd9b5e18e390&lang=en&league_id=4&limit=20&position=skaters&rookies=0&rosterstatus=undefined&season=65&site_id=3&sort=points&statsType=standard&team=335&view=players
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"rank":{"properties":{"key":"rank","hidden":false,"class":"","label":"
        ","title":"Rank","sortable":true,"align":"center","highlight":false,"sortKey":""}},"rookie":{"properties":{"key":"rookie","hidden":false,"class":"","label":"","title":"Rookie","sortable":true,"align":"center","highlight":false,"sortKey":""}},"active":{"properties":{"key":"active","hidden":false,"class":"active-ht","label":"","title":"Active","sortable":true,"align":"center","highlight":false,"sortKey":""}},"name":{"properties":{"key":"name","hidden":false,"class":"","label":"Name","title":"","sortable":true,"align":"left","highlight":false,"sortKey":"name"}},"position":{"properties":{"key":"position","hidden":false,"class":"","label":"Pos","title":"Position","sortable":true,"align":"center","highlight":false,"sortKey":""}},"team_code":{"properties":{"key":"team_code","hidden":false,"class":"","label":"Team","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"games_played":{"properties":{"key":"games_played","hidden":false,"class":"","label":"GP","title":"Games
        Played","sortable":true,"align":"center","highlight":false,"sortKey":"gp"}},"goals":{"properties":{"key":"goals","hidden":false,"class":"","label":"G","title":"Goals","sortable":true,"align":"center","highlight":false,"sortKey":"goals"}},"assists":{"properties":{"key":"assists","hidden":false,"class":"","label":"A","title":"Assists","sortable":true,"align":"center","highlight":false,"sortKey":"assists"}},"points":{"properties":{"key":"points","hidden":false,"class":"","label":"PTS","title":"Points","sortable":true,"align":"center","highlight":true,"sortKey":"points"}},"plus_minus":{"properties":{"key":"plus_minus","hidden":false,"class":"","label":"+\/-","title":"Plus\/Minus","sortable":true,"align":"center","highlight":false,"sortKey":"plus_minus"}},"penalty_minutes":{"properties":{"key":"penalty_minutes","hidden":false,"class":"","label":"PIM","title":"Penalty
        Minutes","sortable":true,"align":"center","highlight":false,"sortKey":"pim"}},"power_play_goals":{"properties":{"key":"power_play_goals","hidden":false,"class":"","label":"PPG","title":"Power
        Play Goals","sortable":true,"align":"center","highlight":false,"sortKey":"ppgoals"}},"short_handed_goals":{"properties":{"key":"short_handed_goals","hidden":false,"class":"","label":"SHG","title":"Short
        Handed Goals","sortable":true,"align":"center","highlight":false,"sortKey":"shgoals"}},"points_per_game":{"properties":{"key":"points_per_game","hidden":false,"class":"","label":"Pt\/G","title":"Pt\/G","sortable":true,"align":"center","highlight":false,"sortKey":"ptspg"}},"penalty_minutes_per_game":{"properties":{"key":"penalty_minutes_per_game","hidden":false,"class":"","label":"PIMPG","title":"Penalty
        Minutes per Game","sortable":true,"align":"center","highlight":false,"sortKey":"pimpg"}},"shots":{"properties":{"key":"shots","hidden":false,"class":"","label":"SH","title":"Shots","sortable":true,"align":"center","highlight":false,"sortKey":"shots"}},"shootout_goals":{"properties":{"key":"shootout_goals","hidden":false,"class":"","label":"SOG","title":"Shootout
        Goals","sortable":true,"align":"center","highlight":false,"sortKey":""}},"shootout_attempts":{"properties":{"key":"shootout_attempts","hidden":false,"class":"","label":"SOA","title":"Shootout
        Attempts","sortable":true,"align":"center","highlight":false,"sortKey":""}},"shootout_winning_goals":{"properties":{"key":"shootout_winning_goals","hidden":false,"class":"","label":"SOGW","title":"Shootout
        Winning Goals","sortable":true,"align":"center","highlight":false,"sortKey":""}},"shootout_percentage":{"properties":{"key":"shootout_percentage","hidden":false,"class":"","label":"SO%","title":"Shootout
        Percentage","sortable":true,"align":"center","highlight":false,"sortKey":""}},"player_id":{"properties":{"key":"player_id","hidden":true,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}}},"data":[{"prop":{"name":{"playerLink":"5660","seoName":"Kenny
        Agostino"},"active":{"active":"1"},"rookie":{"rookie":"0"},"team_code":{"teamLink":"335"}},"row":{"player_id":"5660","name":"Kenny
        Agostino","active":"1","position":"LW","rookie":"0","team_code":"TOR","games_played":"53","goals":"27","shots":"144","assists":"22","points":"49","points_per_game":"0.92","plus_minus":"-6","penalty_minutes":"36","penalty_minutes_per_game":"0.68","power_play_goals":"9","short_handed_goals":"0","shootout_goals":"1","shootout_attempts":"3","shootout_winning_goals":"0","shootout_percentage":"33.3","rank":1}},{"prop":{"name":{"playerLink":"5372"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division=-1&feed=statviewfeed&first=0&key=50c2cd9b5e18e390&lang=en&league_id=4&limit=20&position=defencemen&rookies=0&rosterstatus=undefined&season=65&site_id=3&sort=points&statsType=standard&team=335&view=players
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicat[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division=-1&feed=statviewfeed&first=0&key=50c2cd9b5e18e390&lang=en&league_id=4&limit=20&position=goalies&qualified=all&rookies=0&rosterstatus=undefined&season=65&site_id=3&sort=gaa&statsType=standard&team=335&view=players
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - [...]
