---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1022057&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1022057,"date":"Saturday, February 06, 2021","gameNumber":"10","venue":"Giant
        Center","attendance":403,"startTime":"4:01 pm","endTime":"6:21 pm","duration":"2:20","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1022057","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1022057","ticketsUrl":"","started":"1","final":"1","publicNotes":"","status":"Final
        OT","seasonId":"68","htvGameId":"940285","GameDateISO8601":"2021-02-06T16:00:00-05:00"},"referees":[{"firstName":"Patrick","lastName":"Hanrahan","jerseyNumber":52,"role":"Referee"},{"firstName":"Mason","lastName":"Riley","jerseyNumber":79,"role":"Referee"}],"linesmen":[{"firstName":"Tom","lastName":"George","jerseyNumber":61,"role":"Linesman"},{"firstName":"Bob","lastName":"Goodman","jerseyNumber":90,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":313,"name":"Lehigh
        Valley Phantoms","city":"Lehigh Valley","nickname":"Phantoms","abbreviation":"LHV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/313.jpg","divisionName":"North
        Division"},"player":{"info":{"id":6662,"firstName":"Ryan","lastName":"Fitzgerald","jerseyNumber":13,"position":"LW","birthDate":"1994-10-19"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6662.jpg"},{"team":{"id":319,"name":"Hershey
        Bears","city":"Hershey","nickname":"Bears","abbreviation":"HER","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/319.jpg","divisionName":"North
        Division"},"player":{"info":{"id":7925,"firstName":"Kody","lastName":"Clark","jerseyNumber":36,"position":"RW","birthDate":"1999-10-13"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":2,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":5,"hits":0},"starting":0,"status":"A"},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7925.jpg"},{"team":{"id":313,"name":"Lehigh
        Valley Phantoms","city":"Lehigh Valley","nickname":"Phantoms","abbreviation":"LHV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/313.jpg","divisionName":"North
        Division"},"player":{"info":{"id":5996,"firstName":"Zane","lastName":"McIntyre","jerseyNumber":31,"position":"G","birthDate":"1992-08-20"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"timeOnIce":"60:47","shotsAgainst":35,"goalsAgainst":1,"saves":34},"starting":1,"status":""},"isGoalie":true,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5996.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":319,"name":"Hershey
        Bears","city":"Hershey","nickname":"Bears","abbreviation":"HER","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/319.jpg","divisionName":"North
        Division"},"stats":{"shots":35,"goals":1,"hits":0,"powerPlayGoals":0,"powerPlayOpportunities":3,"goalCount":1,"assistCount":1,"penaltyMinuteCount":15,"infractionCount":6},"media":{"audioUrl":"","videoUrl":"","webcastUrl":"http:\/\/ahltv.com\/"},"coaches":[{"firstName":"Spencer","lastName":"Carbery","role":"Head
        Coach"},{"firstName":"Scott","lastName":"Allen","role":"Assistant Coach"},{"firstName":"Patrick","lastName":"Wellar","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":6227,"firstName":"Reece","lastName":"Willcox","jerseyNumber":4,"position":"D","birthDate":"1994-03-20"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},{"info":{"id":6787,"firstName":"Lucas","lastName":"Johansen","jerseyNumber":6,"position":"D","birthDate":"1997-11-16"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoff[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1022057&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":5658,"firstName":"Pheonix","lastName":"Copley","jerseyNumber":31,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"319","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":5996,"firstName":"Zane","lastName":"McIntyre","jerseyNumber":31,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"313","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"penalty","details":{"game_penalty_id":"247714","period":{"id":"1","shortName":"1","longName":"1st"},"time":"7:09","againstTeam":{"id":313,"name":"","city":"","nickname":"","abbreviation":"LHV","logo":""},"minutes":"2.00","description":"Delay
        of game","ruleNumber":"","takenBy":{"id":7849,"firstName":"Wyatte","lastName":"Wylie","jerseyNumber":28,"position":"D","birthDate":""},"servedBy":{"id":7849,"firstName":"Wyatte","lastName":"Wylie","jerseyNumber":28,"position":"D","birthDate":""},"isPowerPlay":true}},{"event":"shot","details":{"shooter":{"id":8446,"firstName":"Tyson","lastName":"Foerster","jerseyNumber":71,"position":"F","birthDate":""},"goalie":{"id":5658,"firstName":"Pheonix","lastName":"Copley","jerseyNumber":31,"position":"G","birthDate":""},"shooterTeamId":"313","period":{"id":"1","shortName":"1","longName":"1st"},"time":"8:30","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Default","xLocation":531,"yLocation":169}},{"event":"shot","details":{"shooter":{"id":1192,"firstName":"Cal","lastName":"O'Reilly","jerseyNumber":9,"position":"C","birthDate":""},"goalie":{"id":5658,"firstName":"Pheonix","lastName":"Copley","jerseyNumber":31,"position":"G","birthDate":""},"shooterTeamId":"313","period":{"id":"1","shortName":"1","longName":"1st"},"time":"9:33","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Default","xLocation":533,"yLocation":181}},{"event":"penalty","details":{"game_penalty_id":"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"68","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"68","name":"2020-21
        Regular Season","default_sort":""},{"id":"67","name":"2020 All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20
        Regular Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-18
        Exhibition","default_sort":""},{"id":"59","name":"2018 All-[...]
