---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1018544&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1018544,"date":"Sunday, November 11, 2018","gameNumber":"206","venue":"Allstate
        Arena","attendance":11794,"startTime":"3:10 pm","endTime":"5:45 pm","duration":"2:35","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1018544","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1018544","ticketsUrl":"https:\/\/theahl.com\/game-tickets","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"61","htvGameId":"400993","GameDateISO8601":"2018-11-11T15:00:00-06:00"},"referees":[{"firstName":"Alex","lastName":"Garon","jerseyNumber":64,"role":"Referee"},{"firstName":"Jeremy","lastName":"Tufts","jerseyNumber":78,"role":"Referee"}],"linesmen":[{"firstName":"Bevan","lastName":"Mills","jerseyNumber":53,"role":"Linesman"},{"firstName":"Jonathan","lastName":"Sladek","jerseyNumber":53,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":327,"name":"Milwaukee
        Admirals","city":"Milwaukee","nickname":"Admirals","abbreviation":"MIL","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/327_61.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":6342,"firstName":"Anthony","lastName":"Richard","jerseyNumber":90,"position":"LW","birthDate":"1996-12-20"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":0,"plusMinus":3,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":1,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6342.jpg"},{"team":{"id":327,"name":"Milwaukee
        Admirals","city":"Milwaukee","nickname":"Admirals","abbreviation":"MIL","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/327_61.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":5568,"firstName":"Tyler","lastName":"Gaudet","jerseyNumber":10,"position":"C","birthDate":"1993-04-04"},"stats":{"goals":1,"assists":1,"points":2,"penaltyMinutes":0,"plusMinus":4,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5568.jpg"},{"team":{"id":327,"name":"Milwaukee
        Admirals","city":"Milwaukee","nickname":"Admirals","abbreviation":"MIL","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/327_61.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":7420,"firstName":"Eeli","lastName":"Tolvanen","jerseyNumber":11,"position":"F","birthDate":"1999-04-22"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7420.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":330,"name":"Chicago
        Wolves","city":"Chicago","nickname":"Wolves","abbreviation":"CHI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/330.jpg","divisionName":"Central
        Division"},"stats":{"shots":29,"goals":2,"hits":0,"powerPlayGoals":1,"powerPlayOpportunities":5,"goalCount":2,"assistCount":4,"penaltyMinuteCount":15,"infractionCount":6},"media":{"audioUrl":"https:\/\/www.facebook.com\/ChicagoWolves","videoUrl":"","webcastUrl":"https:\/\/theahl.com\/AHLTV"},"coaches":[{"firstName":"Rocky","lastName":"Thompson","role":"Head
        Coach"},{"firstName":"Chris","lastName":"Dennis","role":"Assistant Coach"},{"firstName":"Bob","lastName":"Nardella","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":7088,"firstName":"Nic","lastName":"Hague","jerseyNumber":2,"position":"D","birthDate":"1998-12-05"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-3,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},{"info":{"id":5647,"firstName":"Jimmy","lastName":"Oligny","jerseyNumber":4,"position":"D","birthDate":"1993-04-30"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-2,"faceoffAttempts":0,"faceoffWins":[...]
