---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=ccb91f29d6744675&lang=en&league_id=&player_id=5721&season_id=&site_id=3&statsType=standard&view=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"info":{"jerseyNumber":"38","firstName":"Patrick","lastName":"Brown","playerId":"5721","personId":"5171","position":"C","shoots":"R","catches":"","height":"6-1","height_sans_hyphen":"6.1","height_hyphenated":"6-1","weight":"209","birthDate":"1992-05-29","profileImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5721.jpg","teamImage":"https:\/\/assets.leaguestat.com\/ahl\/logos\/437.jpg","bio":"<p>-
        Calder Cup Champion in 2019<\/p><p>- Hockey East Regular Season Champion in
        2012 and 2014<\/p><p>- NCAA National Champion in 2012<\/p><p>- Hockey East
        Champion in 2011 and 2012<\/p><p>- Co-winner of John &quot;Snooks&quot; Kelley
        Memorial Award at Boston College<\/p><p>- Son of former NHLer Doug Brown<\/p>","teamName":"Henderson
        Silver Knights","division":"Pacific Division","commitment":false,"currentTeam":"","suspension_games_remaining":"","birthPlace":"Bloomfield
        Hills, MI","playerType":"skater"},"currentSeason":"72","careerStats":[{"sections":[{"title":"Regular
        Season","headers":{"season_name":{"properties":{"key":"season_name","hidden":false,"class":"","label":"Season","title":"Season","sortable":true,"align":"center","highlight":false,"sortKey":""}},"team_name":{"properties":{"key":"team_name","hidden":false,"class":"","label":"Team","title":"Team","sortable":true,"align":"center","highlight":false,"sortKey":""}},"games_played":{"properties":{"key":"games_played","hidden":false,"class":"","label":"GP","title":"Games
        Played","sortable":true,"align":"center","highlight":false,"sortKey":""}},"goals":{"properties":{"key":"goals","hidden":false,"class":"","label":"G","title":"Goals","sortable":true,"align":"center","highlight":false,"sortKey":""}},"assists":{"properties":{"key":"assists","hidden":false,"class":"","label":"A","title":"Assists","sortable":true,"align":"center","highlight":false,"sortKey":""}},"points":{"properties":{"key":"points","hidden":false,"class":"","label":"PTS","title":"Points","sortable":true,"align":"center","highlight":false,"sortKey":""}},"plus_minus":{"properties":{"key":"plus_minus","hidden":false,"class":"","label":"+\/-","title":"Plus\/Minus","sortable":true,"align":"center","highlight":false,"sortKey":"plus_minus"}},"penalty_minutes":{"properties":{"key":"penalty_minutes","hidden":false,"class":"","label":"PIM","title":"Penalty
        Minutes","sortable":true,"align":"center","highlight":false,"sortKey":""}},"power_play_goals":{"properties":{"key":"power_play_goals","hidden":false,"class":"","label":"PPG","title":"Power
        Play Goals","sortable":true,"align":"center","highlight":false,"sortKey":""}},"short_handed_goals":{"properties":{"key":"short_handed_goals","hidden":false,"class":"","label":"SHG","title":"Short
        Handed Goals","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_winning_goals":{"properties":{"key":"game_winning_goals","hidden":false,"class":"","label":"GWG","title":"Game
        Winning Goals","sortable":true,"align":"center","highlight":false,"sortKey":"game_winning_goals"}},"shootout_goals":{"properties":{"key":"shootout_goals","hidden":false,"class":"","label":"SOG","title":"Shootout
        Goals","sortable":true,"align":"center","highlight":false,"sortKey":""}},"shootout_attempts":{"properties":{"key":"shootout_attempts","hidden":false,"class":"","label":"SOA","title":"Shootout
        Attempts","sortable":true,"align":"center","highlight":false,"sortKey":""}},"shootout_percentage":{"properties":{"key":"shootout_percentage","hidden":false,"class":"","label":"SO%","title":"Shootout
        Percentage","sortable":true,"align":"center","highlight":false,"sortKey":""}},"shots":{"properties":{"key":"shots","hidden":false,"class":"","label":"SH","title":"Shots","sortable":true,"align":"center","highlight":false,"sortKey":"shots"}},"shooting_percentage":{"properties":{"key":"shooting_percentage","hidden":false,"class":"","label":"SH%","title":"Shooting
        Percentage","sortable":true,"align":"center","highlight":false,"sortKey":""}}},"data":[{"prop":[],"row":{"season_name":"2020-21
        Regular Season","goals":"3","games_played":"9","assists":"5","points":"8","plus_minus":"10","penalty_minutes":"4","power_play_goals":"0","shots":"26","shootout_attempts":"0","shootout_goals":"0","shootout_percentage":"0.0","shooting_percentage":"11.5","short_handed_goals":"0","game_winning_goals":"2","team_name":"Henderson
        Silver Knights"}},{"prop":[],"row":{"season_name":"2019-20 Regular Season","goals":"7","games_played":"60","assists":"14","points":"21"[...]
