---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1018340&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1018340,"date":"Friday, October 05, 2018","gameNumber":"2","venue":"Quicken
        Loans Arena","attendance":10775,"startTime":"7:09 pm","endTime":"9:29 pm","duration":"2:20","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1018340","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1018340","ticketsUrl":"https:\/\/theahl.com\/game-tickets","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"61","htvGameId":"400714","GameDateISO8601":"2018-10-05T19:00:00-04:00"},"referees":[{"firstName":"Michael","lastName":"Duco","jerseyNumber":82,"role":"Referee"},{"firstName":"Peter","lastName":"MacDougall","jerseyNumber":45,"role":"Referee"}],"linesmen":[{"firstName":"Tyson","lastName":"Baker","jerseyNumber":88,"role":"Linesman"},{"firstName":"Ray","lastName":"King","jerseyNumber":55,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":373,"name":"Cleveland
        Monsters","city":"Cleveland","nickname":"Monsters","abbreviation":"CLE","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/373_61.jpg","divisionName":"North
        Division"},"player":{"info":{"id":7025,"firstName":"Kevin","lastName":"Stenlund","jerseyNumber":82,"position":"C","birthDate":"1996-09-20"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":1,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7025.jpg"},{"team":{"id":373,"name":"Cleveland
        Monsters","city":"Cleveland","nickname":"Monsters","abbreviation":"CLE","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/373_61.jpg","divisionName":"North
        Division"},"player":{"info":{"id":7442,"firstName":"Eric","lastName":"Robinson","jerseyNumber":19,"position":"LW","birthDate":"1995-06-14"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7442.jpg"},{"team":{"id":373,"name":"Cleveland
        Monsters","city":"Cleveland","nickname":"Monsters","abbreviation":"CLE","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/373_61.jpg","divisionName":"North
        Division"},"player":{"info":{"id":3621,"firstName":"Jean-Francois","lastName":"Berube","jerseyNumber":35,"position":"G","birthDate":"1991-07-13"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"timeOnIce":"60:00","shotsAgainst":25,"goalsAgainst":1,"saves":24},"starting":1,"status":""},"isGoalie":true,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/3621.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":373,"name":"Cleveland
        Monsters","city":"Cleveland","nickname":"Monsters","abbreviation":"CLE","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/373_61.jpg","divisionName":"North
        Division"},"stats":{"shots":22,"goals":4,"hits":0,"powerPlayGoals":0,"powerPlayOpportunities":3,"goalCount":4,"assistCount":4,"penaltyMinuteCount":7,"infractionCount":2},"media":{"audioUrl":"https:\/\/alt991cleveland.iheart.com\/","videoUrl":"","webcastUrl":"https:\/\/theahl.com\/AHLTV"},"coaches":[{"firstName":"John","lastName":"Madden","role":"Head
        Coach"},{"firstName":"Steve","lastName":"McCarthy","role":"Assistant Coach"}],"skaters":[{"info":{"id":4553,"firstName":"Tommy","lastName":"Cross","jerseyNumber":3,"position":"D","birthDate":"1989-09-12"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":0,"hits":0},"starting":1,"status":"A"},{"info":{"id":6725,"firstName":"Ryan","lastName":"Collins","jerseyNumber":6,"position":"D","birthDate":"1996-05-06"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1018340&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":7431,"firstName":"Kevin","lastName":"Lankinen","jerseyNumber":30,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"372","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":3621,"firstName":"Jean-Francois","lastName":"Berube","jerseyNumber":35,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"373","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"penalty","details":{"game_penalty_id":"213589","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:52","againstTeam":{"id":372,"name":"","city":"","nickname":"","abbreviation":"RFD","logo":""},"minutes":"2.00","description":"Bench
        minor - Too many men","ruleNumber":"","takenBy":{"id":7432,"firstName":"Dylan","lastName":"Sikura","jerseyNumber":15,"position":"RW","birthDate":""},"servedBy":{"id":7432,"firstName":"Dylan","lastName":"Sikura","jerseyNumber":15,"position":"RW","birthDate":""},"isPowerPlay":true,"isBench":true}},{"event":"shot","details":{"shooter":{"id":6725,"firstName":"Ryan","lastName":"Collins","jerseyNumber":6,"position":"D","birthDate":""},"goalie":{"id":7431,"firstName":"Kevin","lastName":"Lankinen","jerseyNumber":30,"position":"G","birthDate":""},"shooterTeamId":"373","period":{"id":"1","shortName":"1","longName":"1st"},"time":"3:34","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":440,"yLocation":75}},{"event":"shot","details":{"shooter":{"id":4452,"firstName":"Terry","lastName":"Broadhurst","jerseyNumber":16,"position":"LW","birthDate":""},"goalie":{"id":3621,"firstName":"Jean-Francois","lastName":"Berube","jerseyNumber":35,"position":"G","birthDate":""},"shooterTeamId":"372","period":{"id":"1","shortName":"1","longName":"1st"},"time":"5:45","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Snap","xLocation":476,"yLocation":120}},{"event":"shot","details":{"shooter":{"id[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
