---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"68","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"68","name":"2020-21
        Regular Season","default_sort":""},{"id":"67","name":"2020 All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20
        Regular Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-18
        Exhibition","default_sort":""},{"id":"59","name":"2018 All-[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&groupTeamsBy=division&key=50c2cd9b5e18e390&league_id=4&season=68&site_id=1&view=teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"overall_rank":{"properties":{"key":"overall_rank","hidden":false,"class":"ht-hide-column","label":"
        ","title":"Rank","sortable":true,"align":"center","highlight":true,"sortKey":"overall_rank"}},"rank":{"properties":{"key":"rank","hidden":false,"class":"","label":"
        ","title":"Rank","sortable":true,"align":"center","highlight":false,"sortKey":""}},"team_code":{"properties":{"key":"team_code","hidden":false,"class":"show-mobile","label":"Atlantic","title":"Atlantic","sortable":true,"align":"left","highlight":false,"sortKey":""}},"name":{"properties":{"key":"name","hidden":false,"class":"hide-mobile","label":"Atlantic
        Division","title":"Atlantic Division","sortable":true,"align":"left","highlight":false,"sortKey":""}},"games_played":{"properties":{"key":"games_played","hidden":false,"class":"","label":"GP","title":"Games
        Played","sortable":true,"align":"center","highlight":false,"sortKey":"games_played"}},"wins":{"properties":{"key":"wins","hidden":false,"class":"","label":"W","title":"Wins","sortable":true,"align":"center","highlight":false,"sortKey":"wins"}},"losses":{"properties":{"key":"losses","hidden":false,"class":"","label":"L","title":"Losses","sortable":true,"align":"center","highlight":false,"sortKey":"losses"}},"ot_losses":{"properties":{"key":"ot_losses","hidden":false,"class":"","label":"OTL","title":"OTL","sortable":true,"align":"center","highlight":false,"sortKey":"ot_losses"}},"shootout_losses":{"properties":{"key":"shootout_losses","hidden":false,"class":"","label":"SOL","title":"SOL","sortable":true,"align":"center","highlight":false,"sortKey":"shootout_losses"}},"points":{"properties":{"key":"points","hidden":false,"class":"","label":"PTS","title":"Points","sortable":true,"align":"center","highlight":false,"sortKey":"points"}},"percentage":{"properties":{"key":"percentage","hidden":false,"class":"","label":"PCT","title":"PCT","sortable":true,"align":"center","highlight":false,"sortKey":"percentage"}},"regulation_wins":{"properties":{"key":"regulation_wins","hidden":false,"class":"","label":"RW","title":"Regulation
        Win","sortable":true,"align":"center","highlight":false,"sortKey":"regulation_wins"}},"row":{"properties":{"key":"row","hidden":false,"class":"","label":"ROW","title":"Regulation
        and OT Wins","sortable":true,"align":"center","highlight":false,"sortKey":"row"}},"goals_for":{"properties":{"key":"goals_for","hidden":false,"class":"","label":"GF","title":"GF","sortable":true,"align":"center","highlight":false,"sortKey":"goals_for"}},"goals_against":{"properties":{"key":"goals_against","hidden":false,"class":"","label":"GA","title":"Goals
        Against","sortable":true,"align":"center","highlight":false,"sortKey":"goals_against"}},"streak":{"properties":{"key":"streak","hidden":false,"class":"","label":"STK","title":"Streaks","sortable":true,"align":"center","highlight":false,"sortKey":""}},"past_10":{"properties":{"key":"past_10","hidden":false,"class":"","label":"P10","title":"Past
        10 Games","sortable":true,"align":"center","highlight":false,"sortKey":""}},"penalty_minutes":{"properties":{"key":"penalty_minutes","hidden":false,"class":"","label":"PIM","title":"Penalty
        Minutes","sortable":true,"align":"center","highlight":false,"sortKey":"penalty_minutes"}}},"data":[{"prop":{"team_code":{"teamLink":"309"},"name":{"teamLink":"309"}},"row":{"team_code":"PRO","wins":"3","losses":"1","ot_losses":"0","shootout_losses":"0","regulation_wins":"3","row":"3","points":"6","penalty_minutes":"38","streak":"2-0-0-0","goals_for":"10","goals_against":"8","percentage":"0.750","overall_rank":"8","games_played":"4","rank":1,"past_10":"3-1-0-0","name":"Providence
        Bruins"}},{"prop":{"team_code":{"teamLink":"307"},"name":{"teamLink":"307"}},"row":{"team_code":"HFD","wins":"2","losses":"1","ot_losses":"0[...]
