---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"68","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"68","name":"2020-21
        Regular Season","default_sort":""},{"id":"67","name":"2020 All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20
        Regular Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-18
        Exhibition","default_sort":""},{"id":"59","name":"2018 All-[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&location=homeaway&month=&season=61&site_id=1&team=-1&view=schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"date_with_day":{"properties":{"key":"date_with_day","hidden":false,"class":"","label":"Date","title":"Date","sortable":true,"align":"left","highlight":false,"sortKey":""}},"game_status":{"properties":{"key":"game_status","hidden":false,"class":"","label":"Time","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"visiting_team_city":{"properties":{"key":"visiting_team_city","hidden":false,"class":"","label":"Visiting
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"visiting_goal_count":{"properties":{"key":"visiting_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"home_team_city":{"properties":{"key":"home_team_city","hidden":false,"class":"","label":"Home
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"home_goal_count":{"properties":{"key":"home_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_center":{"properties":{"key":"game_center","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_sheet":{"properties":{"key":"game_sheet","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_report":{"properties":{"key":"game_report","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"mobile_calendar":{"properties":{"key":"mobile_calendar","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"tickets_url":{"properties":{"key":"tickets_url","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_id":{"properties":{"key":"game_id","hidden":true,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}}},"data":[{"prop":{"home_team_city":{"teamLink":"373"},"visiting_team_city":{"teamLink":"372"},"game_report":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?client_code=ahl&game_id=1018340&lang_id=1"},"game_sheet":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?client_code=ahl&game_id=1018340&lang_id=1"},"game_center":{"link":"\/game-center\/?game_id=1018340","gameLink":"1018340"}},"row":{"game_id":"1018340","date_with_day":"Fri,
        Oct 5","home_goal_count":"4","visiting_goal_count":"1","game_status":"Final","home_team_city":"Cleveland","visiting_team_city":"Rockford","game_report":"Game
        Report","game_sheet":"Game Sheet","game_center":"Game Center"}},{"prop":{"home_team_city":{"teamLink":"390"},"visiting_team_city":{"teamLink":"335"},"game_report":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?client_code=ahl&game_id=1018347&lang_id=[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division_id=-1&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_id=4&location=homeaway&month=&season=61&site_id=1&team=-1&view=schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"secti[...]
