---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1020527&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1020527,"date":"Friday, March 06, 2020","gameNumber":"910","venue":"Rocket
        Mortgage FieldHouse","attendance":13056,"startTime":"7:09 pm","endTime":"9:33
        pm","duration":"2:24","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1020527","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1020527","ticketsUrl":"https:\/\/www.clevelandmonsters.com\/games","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"65","htvGameId":"407751","GameDateISO8601":"2020-03-06T19:00:00-05:00"},"referees":[{"firstName":"Jeremy","lastName":"Tufts","jerseyNumber":78,"role":"Referee"},{"firstName":"Mackenzie","lastName":"Nichol","jerseyNumber":68,"role":"Referee"}],"linesmen":[{"firstName":"Tom","lastName":"George","jerseyNumber":61,"role":"Linesman"},{"firstName":"Ray","lastName":"King","jerseyNumber":55,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg","divisionName":"North
        Division"},"player":{"info":{"id":7512,"firstName":"Jake","lastName":"Lucchini","jerseyNumber":24,"position":"LW","birthDate":"1995-05-09"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7512.jpg"},{"team":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg","divisionName":"North
        Division"},"player":{"info":{"id":5927,"firstName":"Laurent","lastName":"Dauphin","jerseyNumber":25,"position":"C","birthDate":"1995-03-26"},"stats":{"goals":0,"assists":3,"points":3,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5927.jpg"},{"team":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg","divisionName":"North
        Division"},"player":{"info":{"id":7308,"firstName":"Joe","lastName":"Cox","jerseyNumber":37,"position":"RW","birthDate":"1994-01-07"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":4,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7308.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":373,"name":"Cleveland
        Monsters","city":"Cleveland","nickname":"Monsters","abbreviation":"CLE","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/373_65.jpg","divisionName":"North
        Division"},"stats":{"shots":21,"goals":1,"hits":0,"powerPlayGoals":1,"powerPlayOpportunities":7,"goalCount":1,"assistCount":2,"penaltyMinuteCount":20,"infractionCount":6},"media":{"audioUrl":"https:\/\/www.clevelandmonsters.com\/","videoUrl":"","webcastUrl":"https:\/\/www.theahl.com\/AHLTV"},"coaches":[{"firstName":"Mike","lastName":"Eaves","role":"Head
        Coach"},{"firstName":"Steve","lastName":"McCarthy","role":"Assistant Coach"},{"firstName":"Trent","lastName":"Vogelhuber","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":4638,"firstName":"Adam","lastName":"Clendening","jerseyNumber":2,"position":"D","birthDate":"1992-10-26"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-2,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":1,"status":"A"},{"info":{"id":6349,"firstName":"Paul","lastName":"Bittner","jerseyNumber":7,"position":"LW","birthDate":"1996-11-04"},"stats":{"goals":0,"assists":1,"points":1,"penaltyMinutes":2,"plusMinus":-2,"faceoffAttempts":0,"faceo[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1020527&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":3145,"firstName":"Brad","lastName":"Thiessen","jerseyNumber":39,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"373","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":6922,"firstName":"Michael","lastName":"McNiven","jerseyNumber":3,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"415","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":6889,"firstName":"Calvin","lastName":"Thurkauf","jerseyNumber":27,"position":"LW","birthDate":""},"goalie":{"id":6922,"firstName":"Michael","lastName":"McNiven","jerseyNumber":3,"position":"G","birthDate":""},"shooterTeamId":"373","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:16","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":99,"yLocation":244}},{"event":"shot","details":{"shooter":{"id":8054,"firstName":"Nathanael","lastName":"Halbert","jerseyNumber":7,"position":"D","birthDate":""},"goalie":{"id":3145,"firstName":"Brad","lastName":"Thiessen","jerseyNumber":39,"position":"G","birthDate":""},"shooterTeamId":"415","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:03","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Tip","xLocation":544,"yLocation":132}},{"event":"penalty","details":{"game_penalty_id":"237186","period":{"id":"1","shortName":"1","longName":"1st"},"time":"3:06","againstTeam":{"id":415,"name":"","city":"","nickname":"","abbreviation":"LAV","logo":""},"minutes":"2.00","description":"Interference","ruleNumber":"","takenBy":{"id":5471,"firstName":"Gustav","lastName":"Olofsson","jerseyNumber":29,"position":"D","birthDate":""},"servedBy":{"id":5471,"firstName":"Gustav","lastName":"Olofsson","jerseyNumber":29,"position":"D","birthDate":""},"isPowerPlay":true,"isBench":false}},{"event":"penalty","details":{"game_penalty_id":"237187","period":{"id":"1","shortName":"1","longName":"1st"},"time":"3:16","againstTeam":{"id":373,"name":"","city":"","nickname":"","abbreviation":"CLE","logo":""},"minutes":"2.00","description":"Tripping","ruleNumber":"","takenBy":{"id":5449,"firstName":"Marko","lastName":"Dano","jerseyNumber":10,"position":"LW","birthDate":""},"servedBy":{"id":5449,"firstName":"Marko","lastName":"Dano","jerseyNumber":10,"position":"LW","birthDate":""},"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
