---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1012246&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1012246,"date":"Saturday, February 15, 2014","gameNumber":"0","venue":"Ricoh
        Coliseum","attendance":4425,"startTime":"3:12 pm","endTime":"5:35 pm","duration":"2:23","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1012246","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1012246","ticketsUrl":"http:\/\/www.ticketmaster.ca\/toronto-marlies-vs-farjestad-bk-toronto-ontario-02-15-2014\/event\/10004B2494134EDE?artistid=985495&majorcatid=10004&minorcatid=9&tm_link=artist_msg-0_10004B2494134EDE&brand=torontomarlies&camefrom=CFC_CAMLSE_SCHED","started":"1","final":"1","publicNotes":"","status":"Final
        OT","seasonId":"45","htvGameId":"","GameDateISO8601":"2014-02-15T15:00:00-05:00"},"referees":[{"firstName":"Jon","lastName":"McIsaac","jerseyNumber":45,"role":"Referee"},{"firstName":"Steven
        ","lastName":"Papp","jerseyNumber":36,"role":"Referee"}],"linesmen":[{"firstName":"Kevin","lastName":"Ferguson","jerseyNumber":31,"role":"Linesman"},{"firstName":"Kevin","lastName":"Hastings","jerseyNumber":61,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335.jpg","divisionName":"Exhibition"},"player":{"info":{"id":2220,"firstName":"Dylan","lastName":"Yeo","jerseyNumber":4,"position":"D","birthDate":"1986-07-16"},"stats":{"goals":1,"assists":2,"points":3,"penaltyMinutes":0,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":7,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/2220.jpg"},{"team":{"id":394,"name":"F\u00e4rjestad
        BK","city":"F\u00e4rjestad","nickname":"F\u00e4rjestad","abbreviation":"FBK","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/394.jpg","divisionName":"Exhibition"},"player":{"info":{"id":5371,"firstName":"Milan","lastName":"Gulas","jerseyNumber":44,"position":"F","birthDate":"1985-12-30"},"stats":{"goals":1,"assists":1,"points":2,"penaltyMinutes":0,"plusMinus":-2,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5371.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335.jpg","divisionName":"Exhibition"},"stats":{"shots":32,"goals":4,"hits":0,"powerPlayGoals":1,"powerPlayOpportunities":2,"goalCount":4,"assistCount":7,"penaltyMinuteCount":14,"infractionCount":7},"media":{"audioUrl":"","videoUrl":"","webcastUrl":"http:\/\/www.ahllive.com"},"coaches":[{"firstName":"Steve","lastName":"Spott","role":"Head
        Coach"},{"firstName":"Gord","lastName":"Dineen","role":"Assistant Coach"}],"skaters":[{"info":{"id":4901,"firstName":"Andrew","lastName":"MacWilliam","jerseyNumber":2,"position":"D","birthDate":"1990-03-25"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":1,"status":""},{"info":{"id":2220,"firstName":"Dylan","lastName":"Yeo","jerseyNumber":4,"position":"D","birthDate":"1986-07-16"},"stats":{"goals":1,"assists":2,"points":3,"penaltyMinutes":0,"plusMinus":2,"faceoffAttempts":0,"faceoffWin[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1012246&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":5393,"firstName":"Pekka","lastName":"Tuokkola","jerseyNumber":30,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"394","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":4854,"firstName":"Garret","lastName":"Sparks","jerseyNumber":40,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"335","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"penalty","details":{"game_penalty_id":"145906","period":{"id":"1","shortName":"1","longName":"1st"},"time":"4:10","againstTeam":{"id":394,"name":"","city":"","nickname":"","abbreviation":"FBK","logo":""},"minutes":"2.00","description":"Tripping","ruleNumber":"","takenBy":{"id":5375,"firstName":"Jack","lastName":"Connolly","jerseyNumber":89,"position":"F","birthDate":""},"servedBy":{"id":5375,"firstName":"Jack","lastName":"Connolly","jerseyNumber":89,"position":"F","birthDate":""},"isPowerPlay":true,"isBench":false}},{"event":"goal","details":{"game_goal_id":"60333","team":{"id":335,"name":"","city":"","nickname":"","abbreviation":"TOR","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"4:48","scorerGoalNumber":"1","scoredBy":{"id":4137,"firstName":"Greg","lastName":"McKegg","jerseyNumber":14,"position":"C","birthDate":""},"assists":[{"id":3829,"firstName":"Jerry","lastName":"D'Amigo","jerseyNumber":53,"position":"LW","birthDate":""}],"assistNumbers":["1","0"],"properties":{"isPowerPlay":"1","isShortHanded":"0","isEmptyNet":"0","isPenaltyShot":"0","isInsuranceGoal":"0","isGameWinningGoal":"0"},"plus_players":[{"id":2220,"firstName":"Dylan","lastName":"Yeo","jerseyNumber":4,"position":"D","birthDate":""},{"id":4137,"firstName":"Greg","lastName":"McKegg","jerseyNumber":14,"position":"C","birthDate":""},{"id":4514,"firstName":"Josh","lastName":"Leivo","jerseyNumber":32,"position":"LW","birthDate":""},{"id":3282,"firstName":"Kevin","lastName":"Marshall","jerseyNumber":26,"position":"D","birthDate":""},{"id":3829,"firstName":"Jerry","lastName":"D'Amigo","jerseyNumber":53,"position":"LW","birthDate":""}],"minus_players":[{"id":5367,"firstName":"Per","lastName":"\u00c5slund","jerseyNumber":22,"position":"F","birthDate":""},{"id":5049,"firstName":"Magnus","lastName":"Nygren","jerseyNumber":32,"position":"D","birthDate":""},{"id":5362,"firstName":"Niklas","lastName":"Arell","jerseyNumber":40,"position":"D","birthDate":""},{"id":5219,"firstName":"Rickard","lastName":"Wallin","jerseyNumber":15,"position":"C","birthDate":""}]}},{"event":"penalty","details":{"game_penalty_id":"145907","period":{"id":"1","shortName":"1[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
