---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019569&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1019569,"date":"Wednesday, May 01, 2019","gameNumber":"1","venue":"Coca-Cola
        Coliseum","attendance":5569,"startTime":"7:08 pm","endTime":"9:44 pm","duration":"2:36","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1019569","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1019569","ticketsUrl":"https:\/\/theahl.com\/game-tickets","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"64","htvGameId":"402724","GameDateISO8601":"2019-05-01T19:00:00-04:00"},"referees":[{"firstName":"Brandon","lastName":"Blandina","jerseyNumber":39,"role":"Referee"},{"firstName":"Corey","lastName":"Syvret","jerseyNumber":42,"role":"Referee"}],"linesmen":[{"firstName":"Kyle","lastName":"Flemington","jerseyNumber":3,"role":"Linesman"},{"firstName":"Kevin","lastName":"Hastings","jerseyNumber":61,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_64.jpg","divisionName":"North
        Division"},"player":{"info":{"id":6891,"firstName":"Jeremy","lastName":"Bracco","jerseyNumber":27,"position":"RW","birthDate":"1997-03-17"},"stats":{"goals":0,"assists":4,"points":4,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6891.jpg"},{"team":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_64.jpg","divisionName":"North
        Division"},"player":{"info":{"id":7314,"firstName":"Rasmus","lastName":"Sandin","jerseyNumber":8,"position":"D","birthDate":"2000-03-07"},"stats":{"goals":0,"assists":2,"points":2,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7314.jpg"},{"team":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_64.jpg","divisionName":"North
        Division"},"player":{"info":{"id":6444,"firstName":"Trevor","lastName":"Moore","jerseyNumber":9,"position":"LW","birthDate":"1995-03-31"},"stats":{"goals":2,"assists":1,"points":3,"penaltyMinutes":2,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6444.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_64.jpg","divisionName":"North
        Division"},"stats":{"shots":26,"goals":5,"hits":0,"powerPlayGoals":4,"powerPlayOpportunities":7,"goalCount":5,"assistCount":10,"penaltyMinuteCount":8,"infractionCount":4},"media":{"audioUrl":"http:\/\/www.marlies.ca\/listen-live","videoUrl":"","webcastUrl":"https:\/\/www.theahl.com\/AHLTV"},"coaches":[{"firstName":"Sheldon","lastName":"Keefe","role":"Head
        Coach"},{"firstName":"Rob","lastName":"Davison","role":"Assistant Coach"},{"firstName":"A.J.","lastName":"MacLean","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":4705,"firstName":"Vincent","lastName":"LoVerde","jerseyNumber":5,"position":"D","birthDate":"1989-04-14"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":0,"hits":0},"starting":0,"status":"A"},{"info":{"id":6893,"firstName":"Timothy","lastName":"Liljegren","jerseyNumber":7,"position":"D","birthDate":"1999-04-30"},"stats":{"goals":0,"assists":1,"points":1,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"fac[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019569&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":3145,"firstName":"Brad","lastName":"Thiessen","jerseyNumber":39,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"373","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":6265,"firstName":"Kasimir","lastName":"Kaskisuo","jerseyNumber":30,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"335","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":6073,"firstName":"Nick","lastName":"Baptiste","jerseyNumber":14,"position":"RW","birthDate":""},"goalie":{"id":3145,"firstName":"Brad","lastName":"Thiessen","jerseyNumber":39,"position":"G","birthDate":""},"shooterTeamId":"335","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:44","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":71,"yLocation":86}},{"event":"shot","details":{"shooter":{"id":4982,"firstName":"Alex","lastName":"Broadhurst","jerseyNumber":17,"position":"C","birthDate":""},"goalie":{"id":6265,"firstName":"Kasimir","lastName":"Kaskisuo","jerseyNumber":30,"position":"G","birthDate":""},"shooterTeamId":"373","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:33","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":531,"yLocation":202}},{"event":"shot","details":{"shooter":{"i[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
