---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&location=homeaway&month=4&season=64&site_id=1&team=-1&view=schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"date_with_day":{"properties":{"key":"date_with_day","hidden":false,"class":"","label":"Date","title":"Date","sortable":true,"align":"left","highlight":false,"sortKey":""}},"game_status":{"properties":{"key":"game_status","hidden":false,"class":"","label":"Time","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"visiting_team_city":{"properties":{"key":"visiting_team_city","hidden":false,"class":"","label":"Visiting
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"visiting_goal_count":{"properties":{"key":"visiting_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"home_team_city":{"properties":{"key":"home_team_city","hidden":false,"class":"","label":"Home
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"home_goal_count":{"properties":{"key":"home_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_center":{"properties":{"key":"game_center","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_sheet":{"properties":{"key":"game_sheet","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_report":{"properties":{"key":"game_report","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"mobile_calendar":{"properties":{"key":"mobile_calendar","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"tickets_url":{"properties":{"key":"tickets_url","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_id":{"properties":{"key":"game_id","hidden":true,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}}},"data":[{"prop":{"home_team_city":{"teamLink":"404"},"visiting_team_city":{"teamLink":"405"},"game_report":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?client_code=ahl&game_id=1019564&lang_id=1"},"game_sheet":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?client_code=ahl&game_id=1019564&lang_id=1"},"game_center":{"link":"\/game-center\/?game_id=1019564","gameLink":"1019564"}},"row":{"game_id":"1019564","date_with_day":"Wed,
        Apr 17","home_goal_count":"6","visiting_goal_count":"5","game_status":"Final
        OT","home_team_city":"San Diego","visiting_team_city":"San Jose","game_report":"Game
        Report","game_sheet":"Game Sheet","game_center":"Game Center"}},{"prop":{"home_team_city":{"teamLink":"404"},"visiting_team_city":{"teamLink":"405"},"game_report":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?client_code=ahl&game_id=1019[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division_id=-1&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_id=4&location=homeaway&month=6&season=64&site_id=1&team=-1&view=schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sect[...]
