---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1015979&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1015979,"date":"Friday, October 28, 2016","gameNumber":"73","venue":"Bojangles'
        Coliseum","attendance":7117,"startTime":"7:20 pm","endTime":"9:42 pm","duration":"2:22","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1015979","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1015979","ticketsUrl":"http:\/\/www.ticketmaster.com\/charlotte-checkers-vs-grand-rapids-griffins-charlotte-north-carolina-10-28-2016\/event\/0E005128D01683D4?artistid=806449&majorcatid=10004&minorcatid=9&tm_link=search_msg-0_0E005128D01683D4","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"54","htvGameId":"","GameDateISO8601":"2016-10-28T19:15:00-04:00"},"referees":[{"firstName":"David","lastName":"Banfield","jerseyNumber":77,"role":"Referee"}],"linesmen":[{"firstName":"Ben","lastName":"Shiley","jerseyNumber":21,"role":"Linesman"},{"firstName":"Terry","lastName":"Wicklum","jerseyNumber":58,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":384,"name":"Charlotte
        Checkers","city":"Charlotte","nickname":"Checkers","abbreviation":"CHA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/384_54.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":4890,"firstName":"Brock","lastName":"McGinn","jerseyNumber":7,"position":"LW","birthDate":"1994-02-02"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":5,"hits":0},"starting":1,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/4890.jpg"},{"team":{"id":384,"name":"Charlotte
        Checkers","city":"Charlotte","nickname":"Checkers","abbreviation":"CHA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/384_54.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":6051,"firstName":"Derek","lastName":"Ryan","jerseyNumber":10,"position":"C","birthDate":"1986-12-19"},"stats":{"goals":0,"assists":3,"points":3,"penaltyMinutes":0,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":1,"status":"C"},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6051.jpg"},{"team":{"id":384,"name":"Charlotte
        Checkers","city":"Charlotte","nickname":"Checkers","abbreviation":"CHA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/384_54.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":5035,"firstName":"Keegan","lastName":"Lowe","jerseyNumber":4,"position":"D","birthDate":"1993-03-29"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5035.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":384,"name":"Charlotte
        Checkers","city":"Charlotte","nickname":"Checkers","abbreviation":"CHA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/384_54.jpg","divisionName":"Central
        Division"},"stats":{"shots":32,"goals":4,"hits":0,"powerPlayGoals":1,"powerPlayOpportunities":5,"goalCount":4,"assistCount":7,"penaltyMinuteCount":19,"infractionCount":8},"media":{"audioUrl":"http:\/\/lightningstream.surfernetwork.com\/Media\/player\/detect.aspx?call=WZGV-AM","videoUrl":"","webcastUrl":"http:\/\/www.ahllive.com"},"coaches":[{"firstName":"Ulf","lastName":"Samuelsson","role":"Head
        Coach"},{"firstName":"Peter","lastName":"Andersson","role":"Associate Coach"},{"firstName":"Peter","lastName":"Andersson","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":5928,"firstName":"Haydn","lastName":"Fleury","jerseyNumber":2,"position":"D","birthDate":"1996-07-08"},"stats":{"goals":0,"assists":1,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},{"info":{"id":5912,"firstName":"Roland","lastName":"McKeown","jerseyNumber":3,"position":"D","birthDate":"1996-01-20"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWi[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1015979&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":5021,"firstName":"Jared","lastName":"Coreau","jerseyNumber":50,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"328","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":394,"firstName":"Michael","lastName":"Leighton","jerseyNumber":49,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"384","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goal","details":{"game_goal_id":"77392","team":{"id":328,"name":"","city":"","nickname":"","abbreviation":"GR","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"3:02","scorerGoalNumber":"1","scoredBy":{"id":6214,"firstName":"Mike","lastName":"Borkowski","jerseyNumber":21,"position":"C","birthDate":""},"assists":[{"id":5431,"firstName":"Colin","lastName":"Campbell","jerseyNumber":47,"position":"RW","birthDate":""}],"assistNumbers":["1","0"],"properties":{"isPowerPlay":"0","isShortHanded":"0","isEmptyNet":"0","isPenaltyShot":"0","isInsuranceGoal":"0","isGameWinningGoal":"0"},"plus_players":[{"id":6037,"firstName":"Robbie","lastName":"Russo","jerseyNumber":68,"position":"D","birthDate":""},{"id":3082,"firstName":"Brian","lastName":"Lashoff","jerseyNumber":18,"position":"D","birthDate":""},{"id":6214,"firstName":"Mike","lastName":"Borkowski","jerseyNumber":21,"position":"C","birthDate":""},{"id":5982,"firstName":"Dominic","lastName":"Turgeon","jerseyNumber":23,"position":"C","birthDate":""},{"id":5431,"firstName":"Colin","lastName":"Campbell","jerseyNumber":47,"position":"RW","birthDate":""}],"minus_players":[{"id":5912,"firstName":"Roland","lastName":"McKeown","jerseyNumber":3,"position":"D","birthDate":""},{"id":6453,"firstName":"Clark","lastName":"Bishop","jerseyNumber":15,"position":"C","birthDate":""},{"id":4920,"firstName":"Brendan","lastName":"Woods","jerseyNumber":27,"position":"C","birthDate":""},{"id":5532,"firstName":"Jake","lastName":"Chelios","jerseyNumber":27,"position":"D","birthDate":""},{"id":421,"firstName":"Patrick","lastName":"Dwyer","jerseyNumber":39,"position":"RW","birthDate":[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
