---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019620&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1019620,"date":"Friday, October 04, 2019","gameNumber":"3","venue":"Wells
        Fargo Arena","attendance":8540,"startTime":"7:10 pm","endTime":"9:38 pm","duration":"2:28","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1019620","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1019620","ticketsUrl":"http:\/\/bit.ly\/2l2PHQk","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"65","htvGameId":"406844","GameDateISO8601":"2019-10-04T19:00:00-05:00"},"referees":[{"firstName":"Olivier","lastName":"Gouin","jerseyNumber":54,"role":"Referee"},{"firstName":"Riley","lastName":"Yerkovich","jerseyNumber":37,"role":"Referee"}],"linesmen":[{"firstName":"Chad","lastName":"Evers","jerseyNumber":5,"role":"Linesman"},{"firstName":"Nate","lastName":"Stanton","jerseyNumber":36,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":389,"name":"Iowa
        Wild","city":"Iowa","nickname":"Wild","abbreviation":"IA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/389.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":4647,"firstName":"J.T.","lastName":"Brown","jerseyNumber":25,"position":"RW","birthDate":"1990-07-02"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0,"shots":4,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/4647.jpg"},{"team":{"id":389,"name":"Iowa
        Wild","city":"Iowa","nickname":"Wild","abbreviation":"IA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/389.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":7179,"firstName":"Kaapo","lastName":"Kahkonen","jerseyNumber":34,"position":"G","birthDate":"1996-08-16"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"timeOnIce":"59:58","shotsAgainst":26,"goalsAgainst":2,"saves":24},"starting":1,"status":""},"isGoalie":true,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7179.jpg"},{"team":{"id":389,"name":"Iowa
        Wild","city":"Iowa","nickname":"Wild","abbreviation":"IA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/389.jpg","divisionName":"Central
        Division"},"player":{"info":{"id":6616,"firstName":"Gerry","lastName":"Mayhew","jerseyNumber":20,"position":"LW","birthDate":"1992-12-31"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":4,"hits":0},"starting":1,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6616.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":389,"name":"Iowa
        Wild","city":"Iowa","nickname":"Wild","abbreviation":"IA","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/389.jpg","divisionName":"Central
        Division"},"stats":{"shots":33,"goals":3,"hits":0,"powerPlayGoals":1,"powerPlayOpportunities":5,"goalCount":3,"assistCount":4,"penaltyMinuteCount":8,"infractionCount":4},"media":{"audioUrl":"http:\/\/kxno.com","videoUrl":"","webcastUrl":"https:\/\/www.theahl.com\/AHLTV"},"coaches":[{"firstName":"Tim","lastName":"Army","role":"Head
        Coach"},{"firstName":"Brett","lastName":"McLean","role":"Assistant Coach"},{"firstName":"Alex","lastName":"Tanguay","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":7028,"firstName":"Mitch","lastName":"McLain","jerseyNumber":6,"position":"C","birthDate":"1993-12-09"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":2,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},{"info":{"id":6482,"firstName":"Sam","lastName":"Anas","jerseyNumber":7,"position":"RW","birthDate":"1993-06-01"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019620&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":7179,"firstName":"Kaapo","lastName":"Kahkonen","jerseyNumber":34,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"389","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":7431,"firstName":"Kevin","lastName":"Lankinen","jerseyNumber":30,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"372","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":6861,"firstName":"Matthew","lastName":"Highmore","jerseyNumber":9,"position":"LW","birthDate":""},"goalie":{"id":7179,"firstName":"Kaapo","lastName":"Kahkonen","jerseyNumber":34,"position":"G","birthDate":""},"shooterTeamId":"372","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:26","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Wrist","xLocation":543,"yLocation":123}},{"event":"shot","details":{"shooter":{"id":8013,"firstName":"Adam","lastName":"Boqvist","jerseyNumber":27,"position":"D","birthDate":""},"goalie":{"id":7179,"firstName":"Kaapo","lastName":"Kahkonen","jerseyNumber":34,"position":"G","birthDate":""},"shooterTeamId":"372","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:58","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Wrist","xLocation":410,"yLocation":256}},{"event":"shot","details":{"shooter":{"id":464[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"68","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"68","name":"2020-21
        Regular Season","default_sort":""},{"id":"67","name":"2020 All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20
        Regular Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-18
        Exhibition","default_sort":""},{"id":"59","name":"2018 All-[...]
