---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=ccb91f29d6744675&lang=en&league_id=&player_id=7446&season_id=&site_id=3&statsType=standard&view=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"info":{"jerseyNumber":"5","firstName":"Urho","lastName":"Vaakanainen","playerId":"7446","personId":"7527","position":"D","shoots":"L","catches":"R","height":"6-1","height_sans_hyphen":"6.1","height_hyphenated":"6-1","weight":"185","birthDate":"1999-01-01","profileImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7446.jpg","teamImage":"https:\/\/assets.leaguestat.com\/ahl\/logos\/309.jpg","bio":"<p><!--[if
        gte mso 9]><xml>\r\n <o:OfficeDocumentSettings>\r\n  <o:AllowPNG\/>\r\n  <o:PixelsPerInch>96<\/o:PixelsPerInch>\r\n
        <\/o:OfficeDocumentSettings>\r\n<\/xml><![endif]--><!--[if gte mso 9]><xml>\r\n
        <w:WordDocument>\r\n  <w:View>Normal<\/w:View>\r\n  <w:Zoom>0<\/w:Zoom>\r\n  <w:TrackMoves\/>\r\n  <w:TrackFormatting\/>\r\n  <w:PunctuationKerning\/>\r\n  <w:ValidateAgainstSchemas\/>\r\n  <w:SaveIfXMLInvalid>false<\/w:SaveIfXMLInvalid>\r\n  <w:IgnoreMixedContent>false<\/w:IgnoreMixedContent>\r\n  <w:AlwaysShowPlaceholderText>false<\/w:AlwaysShowPlaceholderText>\r\n  <w:DoNotPromoteQF\/>\r\n  <w:LidThemeOther>EN-US<\/w:LidThemeOther>\r\n  <w:LidThemeAsian>ZH-CN<\/w:LidThemeAsian>\r\n  <w:LidThemeComplexScript>AR-SA<\/w:LidThemeComplexScript>\r\n  <w:Compatibility>\r\n   <w:BreakWrappedTables\/>\r\n   <w:SnapToGridInCell\/>\r\n   <w:ApplyBreakingRules\/>\r\n   <w:WrapTextWithPunct\/>\r\n   <w:UseAsianBreakRules\/>\r\n   <w:DontGrowAutofit\/>\r\n   <w:SplitPgBreakAndParaMark\/>\r\n   <w:EnableOpenTypeKerning\/>\r\n   <w:DontFlipMirrorIndents\/>\r\n   <w:OverrideTableStyleHps\/>\r\n   <w:UseFELayout\/>\r\n  <\/w:Compatibility>\r\n  <m:mathPr>\r\n   <m:mathFont
        m:val=\"Cambria Math\"\/>\r\n   <m:brkBin m:val=\"before\"\/>\r\n   <m:brkBinSub
        m:val=\"--\"\/>\r\n   <m:smallFrac m:val=\"off\"\/>\r\n   <m:dispDef\/>\r\n   <m:lMargin
        m:val=\"0\"\/>\r\n   <m:rMargin m:val=\"0\"\/>\r\n   <m:defJc m:val=\"centerGroup\"\/>\r\n   <m:wrapIndent
        m:val=\"1440\"\/>\r\n   <m:intLim m:val=\"subSup\"\/>\r\n   <m:naryLim m:val=\"undOvr\"\/>\r\n  <\/m:mathPr><\/w:WordDocument>\r\n<\/xml><![endif]--><!--[if
        gte mso 9]><xml>\r\n <w:LatentStyles DefLockedState=\"false\" DefUnhideWhenUsed=\"false\"\r\n  DefSemiHidden=\"false\"
        DefQFormat=\"false\" DefPriority=\"99\"\r\n  LatentStyleCount=\"382\">\r\n  <w:LsdException
        Locked=\"false\" Priority=\"0\" QFormat=\"true\" Name=\"Normal\"\/>\r\n  <w:LsdException
        Locked=\"false\" Priority=\"9\" QFormat=\"true\" Name=\"heading 1\"\/>\r\n  <w:LsdException
        Locked=\"false\" Priority=\"9\" SemiHidden=\"true\"\r\n   UnhideWhenUsed=\"true\"
        QFormat=\"true\" Name=\"heading 2\"\/>\r\n  <w:LsdException Locked=\"false\"
        Priority=\"9\" SemiHidden=\"true\"\r\n   UnhideWhenUsed=\"true\" QFormat=\"true\"
        Name=\"heading 3\"\/>\r\n  <w:LsdException Locked=\"false\" Priority=\"9\"
        SemiHidden=\"true\"\r\n   UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"heading
        4\"\/>\r\n  <w:LsdException Locked=\"false\" Priority=\"9\" SemiHidden=\"true\"\r\n   UnhideWhenUsed=\"true\"
        QFormat=\"true\" Name=\"heading 5\"\/>\r\n  <w:LsdException Locked=\"false\"
        Priority=[...]
