---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division_id=-1&feed=statviewfeed&key=ccb91f29d6744675&lang=en&league_id=4&location=homeaway&month=-1&season=73&site_id=3&team=-1&view=schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"date_with_day":{"properties":{"key":"date_with_day","hidden":false,"class":"","label":"Date","title":"Date","sortable":true,"align":"left","highlight":false,"sortKey":""}},"game_status":{"properties":{"key":"game_status","hidden":false,"class":"","label":"Time","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"visiting_team_city":{"properties":{"key":"visiting_team_city","hidden":false,"class":"","label":"Visiting
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"visiting_goal_count":{"properties":{"key":"visiting_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"home_team_city":{"properties":{"key":"home_team_city","hidden":false,"class":"","label":"Home
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"home_goal_count":{"properties":{"key":"home_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_center":{"properties":{"key":"game_center","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_sheet":{"properties":{"key":"game_sheet","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_report":{"properties":{"key":"game_report","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_summary_long":{"properties":{"key":"game_summary_long","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"mobile_calendar":{"properties":{"key":"mobile_calendar","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"tickets_url":{"properties":{"key":"tickets_url","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_id":{"properties":{"key":"game_id","hidden":true,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}}},"data":[{"prop":{"home_team_city":{"teamLink":"307"},"visiting_team_city":{"teamLink":"317"},"game_center":{"link":"\/game-center\/?game_id=1022628","gameLink":"1022628"},"mobile_calendar":{"link":"https:\/\/lscluster.hockeytech.com\/components\/calendar\/ical_add_games.php?client_code=ahl&game_ids=1022628"}},"row":{"game_id":"1022628","date_with_day":"Fri,
        Oct 15","home_goal_count":"-","visiting_goal_count":"-","game_status":"7:00
        pm EDT","home_team_city":"Hartford","visiting_team_city":"Bridgeport","game_center":"Game
        Center","mobile_calendar":"Add to Calendar"}},{"prop":{"home_team_city":{"teamLink":"373"},"visiting_team_city":{"teamLink":"324"},"game_center":{"link":"\/game-center\/?game_id=1022626","gameLink":"1022626"},"mobile_calendar":{"link":"https:\/\/lscluster.hockeytech.[...]
