---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=modulekit&fmt=json&key=ccb91f29d6744675&lang=en&league_id=&season_id=64&site_id=3&view=brackets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'json({"SiteKit":{"Parameters":{"callback":"json","client_code":"ahl","feed":"modulekit","fmt":"json","key":"ccb91f29d6744675","lang":"en","lang_id":1,"league_id":"4","season_id":64,"site_id":"3","view":"brackets","ck":"ahlen643brackets","ch":"no"},"Brackets":{"teams":{"323":{"id":"323","city":"Rochester","team_code":"ROC","name":"Rochester
        Americans","division_long_name":"North Division","division_short_name":"North","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/323.jpg"},"324":{"id":"324","city":"Syracuse","team_code":"SYR","name":"Syracuse
        Crunch","division_long_name":"North Division","division_short_name":"North","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/324.jpg"},"335":{"id":"335","city":"Toronto","team_code":"TOR","name":"Toronto
        Marlies","division_long_name":"North Division","division_short_name":"North","conf_id":"1","logo":"https:\/\/assets.leaguestat.com\/ahl[...]
