---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=ccb91f29d6744675&lang=en&league_id=&player_id=368&season_id=1&site_id=3&statsType=standard&view=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"info":{"jerseyNumber":"35","firstName":"Jeff","lastName":"Glass","playerId":"368","personId":"395","position":"G","shoots":"L","catches":"L","height":"6-3","height_sans_hyphen":"6.3","height_hyphenated":"6-3","weight":"213","birthDate":"1985-11-19","profileImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/368.jpg","teamImage":"https:\/\/assets.leaguestat.com\/ahl\/logos\/315.jpg","bio":"<p><strong>2019-20<\/strong><\/p><p>&middot;
        In his 15th professional season and first with EHC Linz (Austria), went 4-5-0
        with a 2.45 GAA and .920 SV% in nine appearances.<\/p><p>&middot; Appeared
        in three postseason games, posting a 2.41 GAA and .920 SV%.<\/p><p>&middot;
        Ranked tied-for-fourth among league leaders in SV% (min. 8 GP).<\/p><p>&nbsp;<\/p><p><strong>Career<\/strong><\/p><p>&middot;
        Has appeared in 15 career NHL games, posting a 3-7-3 record with a 3.36[...]
