---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&groupTeamsBy=division&key=50c2cd9b5e18e390&league_id=4&season=57&site_id=1&view=teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"overall_rank":{"properties":{"key":"overall_rank","hidden":false,"class":"ht-hide-column","label":"
        ","title":"Rank","sortable":true,"align":"center","highlight":true,"sortKey":"overall_rank"}},"rank":{"properties":{"key":"rank","hidden":false,"class":"","label":"
        ","title":"Rank","sortable":true,"align":"center","highlight":false,"sortKey":""}},"team_code":{"properties":{"key":"team_code","hidden":false,"class":"show-mobile","label":"Atlantic","title":"Atlantic","sortable":true,"align":"left","highlight":false,"sortKey":""}},"name":{"properties":{"key":"name","hidden":false,"class":"hide-mobile","label":"Atlantic
        Division","title":"Atlantic Division","sortable":true,"align":"left","highlight":false,"sortKey":""}},"games_played":{"properties":{"key":"games_played","hidden":false,"class":"","label":"GP","title":"Games
        Played","sortable":true,"align":"center","highlight":false,"sortKey":"games_played"}},"wins":{"properties":{"key":"wins","hidden":false,"class":"","label":"W","title":"Wins","sortable":true,"align":"center","highlight":false,"sortKey":"wins"}},"losses":{"properties":{"key":"losses","hidden":false,"class":"","label":"L","title":"Losses","sortable":true,"align":"center","highlight":false,"sortKey":"losses"}},"ot_losses":{"properties":{"key":"ot_losses","hidden":false,"class":"","label":"OTL","title":"OTL","sortable":true,"align":"center","highlight":false,"sortKey":"ot_losses"}},"shootout_losses":{"properties":{"key":"shootout_losses","hidden":false,"class":"","label":"SOL","title":"SOL","sortable":true,"align":"center","highlight":false,"sortKey":"shootout_losses"}},"points":{"properties":{"key":"points","hidden":false,"class":"","label":"PTS","title":"Points","sortable":true,"align":"center","highlight":false,"sortKey":"points"}},"percentage":{"properties":{"key":"percentage","hidden":false,"class":"","label":"PCT","title":"PCT","sortable":true,"align":"center","highlight":false,"sortKey":"percentage"}},"regulation_wins":{"properties":{"key":"regulation_wins","hidden":false,"class":"","label":"RW","title":"Regulation
        Win","sortable":true,"align":"center","highlight":false,"sortKey":"regulation_wins"}},"row":{"properties":{"key":"row","hidden":false,"class":"","label":"ROW","title":"Regulation
        and OT Wins","sortable":true,"align":"center","highlight":false,"sortKey":"row"}},"goals_for":{"properties":{"key":"goals_for","hidden":false,"class":"","label":"GF","title":"GF","sortable":true,"align":"center","highlight":false,"sortKey":"goals_for"}},"goals_against":{"properties":{"key":"goals_against","hidden":false,"class":"","label":"GA","title":"Goals
        Against","sortable":true,"align":"center","highlight":false,"sortKey":"goals_against"}},"streak":{"properties":{"key":"streak","hidden":false,"class":"","label":"STK","title":"Streaks","sortable":true,"align":"center","highlight":false,"sortKey":""}},"past_10":{"properties":{"key":"past_10","hidden":false,"class":"","label":"P10","title":"Past
        10 Games","sortable":true,"align":"center","highlight":false,"sortKey":""}},"penalty_minutes":{"properties":{"key":"penalty_minutes","hidden":false,"class":"","label":"PIM","title":"Penalty
        Minutes","sortable":true,"align":"center","highlight":false,"sortKey":"penalty_minutes"}}},"data":[{"prop":{"team_code":{"teamLink":"313"},"name":{"teamLink":"313"}},"row":{"team_code":"y
        - LV","wins":"47","losses":"19","ot_losses":"5","shootout_losses":"5","regulation_wins":"40","row":"44","points":"104","penalty_minutes":"840","streak":"3-0-1-0","goals_for":"260","goals_against":"218","percentage":"0.684","overall_rank":"2","games_played":"76","rank":1,"past_10":"5-3-2-0","name":"y
        - Lehigh Valley Phantoms"}},{"prop":{"team_code":{"teamLink":"316"},"name":{"teamLink":"316"}},"row":{"team_code":"x
        - [...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&location=homeaway&month=10&season=57&site_id=1&team=-1&view=schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"date_with_day":{"properties":{"key":"date_with_day","hidden":false,"class":"","label":"Date","title":"Date","sortable":true,"align":"left","highlight":false,"sortKey":""}},"game_status":{"properties":{"key":"game_status","hidden":false,"class":"","label":"Time","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"visiting_team_city":{"properties":{"key":"visiting_team_city","hidden":false,"class":"","label":"Visiting
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"visiting_goal_count":{"properties":{"key":"visiting_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"home_team_city":{"properties":{"key":"home_team_city","hidden":false,"class":"","label":"Home
        Team","title":"","sortable":true,"align":"left","highlight":false,"sortKey":""}},"home_goal_count":{"properties":{"key":"home_goal_count","hidden":false,"class":"","label":"Score","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_center":{"properties":{"key":"game_center","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_sheet":{"properties":{"key":"game_sheet","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_report":{"properties":{"key":"game_report","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"mobile_calendar":{"properties":{"key":"mobile_calendar","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"tickets_url":{"properties":{"key":"tickets_url","hidden":false,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}},"game_id":{"properties":{"key":"game_id","hidden":true,"class":"","label":"","title":"","sortable":true,"align":"center","highlight":false,"sortKey":""}}},"data":[{"prop":{"home_team_city":{"teamLink":"328"},"visiting_team_city":{"teamLink":"321"},"game_report":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?client_code=ahl&game_id=1017123&lang_id=1"},"game_sheet":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?client_code=ahl&game_id=1017123&lang_id=1"},"game_center":{"link":"\/game-center\/?game_id=1017123","gameLink":"1017123"}},"row":{"game_id":"1017123","date_with_day":"Fri,
        Oct 6","home_goal_count":"5","visiting_goal_count":"2","game_status":"Final","home_team_city":"Grand
        Rapids","visiting_team_city":"Manitoba","game_report":"Game Report","game_sheet":"Game
        Sheet","game_center":"Game Center"}},{"prop":{"home_team_city":{"teamLink":"323"},"visiting_team_city":{"teamLink":"324"},"game_report":{"link":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?client_code[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division_id=-1&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_id=4&location=homeaway&month=4&season=57&site_id=1&team=-1&view=schedule
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sect[...]
