---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019521&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1019521,"date":"Monday, January 28, 2019","gameNumber":"1","venue":"MassMutual
        Center","attendance":6793,"startTime":"7:18 pm","endTime":"7:33 pm","duration":"0:15","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1019521","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1019521","ticketsUrl":"","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"63","htvGameId":"","GameDateISO8601":"2019-01-28T19:20:00-05:00"},"referees":[{"firstName":"Terry","lastName":"Koharski","jerseyNumber":10,"role":"Referee"},{"firstName":"Peter","lastName":"MacDougall","jerseyNumber":45,"role":"Referee"}],"linesmen":[{"firstName":"Paul","lastName":"Carnathan","jerseyNumber":93,"role":"Linesman"},{"firstName":"Paul","lastName":"Simeon","jerseyNumber":66,"role":"Linesman"}],"mostValuablePlayers":[],"hasShootout":false,"homeTeam":{"info":{"id":407,"name":"Atlantic
        Division All-Stars","city":"Atlantic Division","nickname":"Atlantic","abbreviation":"ATL","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/407_63.jpg","divisionName":"All
        Star"},"stats":{"shots":13,"goals":3,"hits":0,"powerPlayGoals":0,"powerPlayOpportunities":0,"goalCount":3,"assistCount":4,"penaltyMinuteCount":0,"infractionCount":0},"media":{"audioUrl":"http:\/\/bit.ly\/WHYN560AM
        ","videoUrl":"https:\/\/theahl.com\/ahl-all-star-classic-nhl-network-sportsnet","webcastUrl":"https:\/\/www.theahl.com\/AHLTV"},"coaches":[{"firstName":"Mike","lastName":"Vellucci","role":"Head
        Coach"}],"skaters":[{"info":{"id":6416,"firstName":"John","lastName":"Gilmour","jerseyNumber":3,"position":"D","birthDate":"1993-05-17"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":4,"hits":0},"starting":0,"status":""},{"info":{"id":5614,"firstName":"Trevor","lastName":"Carrick","jerseyNumber":5,"position":"D","birthDate":"1994-07-04"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":4,"hits":0},"starting":1,"status":""},{"info":{"id":6290,"firstName":"Ethan","lastName":"Prow","jerseyNumber":6,"position":"D","birthDate":"1992-11-17"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019521&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":6809,"firstName":"Samuel","lastName":"Montembeault","jerseyNumber":33,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"407","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":4994,"firstName":"Troy","lastName":"Grosenick","jerseyNumber":1,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"409","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":6416,"firstName":"John","lastName":"Gilmour","jerseyNumber":33,"position":"D","birthDate":""},"goalie":{"id":4994,"firstName":"Troy","lastName":"Grosenick","jerseyNumber":1,"position":"G","birthDate":""},"shooterTeamId":"407","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:46","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Default","xLocation":59,"yLocation":146}},{"event":"shot","details":{"shooter":{"id":6459,"firstName":"Denis","lastName":"Gurianov","jerseyNumber":25,"position":"F","birthDate":""},"goalie":{"id":6809,"firstName":"Samuel","lastName":"Montembeault","jerseyNumber":33,"position":"G","birthDate":""},"shooterTeamId":"409","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:20","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Default","xLocation":530,"yLocation":133}},{"event":"shot","details":{"shooter":{"id":6459,"firstName":"Denis","lastName":"Gurianov","jerseyNumber":25,"position":"F","birthDate":""},"goalie":{"id":6809,"firstName":"Samuel","lastName":"Montembeault","jerseyNumber":33,"position":"G","birthDate":""},"shooterTeamId":"409","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:30","isGoal":true,"shotQuality":"Quality
        goal","shotType":"Default","xLocation":542,"yLocation":150}},{"event":"goal","details":{"game_goal_id":"97793","team":{"id":409,"name":"","city":"","nickname":"","abbreviation":"CEN","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:30","scorerGoalNumber":"1","scoredBy":{"id":6459,"firstName":"Denis","lastName":"Gurianov","jerseyNumber":25,"position":"F","birthDate":""},"assists":[{"id":6704,"firstName":"Jordan","lastName":"Kyrou","jerseyNumber":29,"position":"F","birthDate":""},{"id":7417,"firstName":"Erik","lastName":"Brannstrom","jerseyNumber":26,"position":"D","birthDate":""}],"assistNumbers":["1","1"],"properties":{"isPowerPlay":"0","isShortHanded":"0","isEmptyNet":"0","isPenaltyShot":"0","isInsuranceGoal":"0","isGameWinningGoal":"0"},"plus_players":[{"id":7417,"firstName":"Erik","lastName":"Brannstrom","jerseyNumber":26,"position":"D","birthDate":""},{"id":6704,"firstName":"Jordan","lastName":"Kyrou","jerseyNumber":29,"position":"F","birthDate":""},{"id":6459,"firstName":"Denis","lastName":"Gurianov","jerseyNumber":25,"position":"F","birthDate":""}],"minus_players":[{"id":6290,"firstName":"Ethan","lastName":"Prow","jerseyNumber":6,"position":"D","birthDate":""},{"id":6845,"firstName":"Sebastian","lastName":"Aho","jerseyNumber":28,"position":"D","birthDate":""},{"id":3604,"firstName":"Jordan","lastName":"Szwarz","jerseyNumber":37,"position":"F","birthDate":""}],"xLocation":542,"yLocation":150}},{"event":"shot","details":{"shooter":{"id":2050,"firstName":"Colin","lastName":"McDonald","jerseyNumber":13,"position":"F","birthDate":""},"goalie":{"id":4994,"first[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
