---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&groupTeamsBy=division&key=50c2cd9b5e18e390&league_id=4&season=72&site_id=1&view=teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"sections":[{"title":"","headers":{"overall_rank":{"properties":{"key":"overall_rank","hidden":false,"class":"ht-hide-column","label":"
        ","title":"Rank","sortable":true,"align":"center","highlight":true,"sortKey":"overall_rank"}},"rank":{"properties":{"key":"rank","hidden":false,"class":"","label":"
        ","title":"Rank","sortable":true,"align":"center","highlight":false,"sortKey":""}},"team_code":{"properties":{"key":"team_code","hidden":false,"class":"show-mobile","label":"Pacific","title":"Pacific","sortable":true,"align":"left","highlight":false,"sortKey":""}},"name":{"properties":{"key":"name","hidden":false,"class":"hide-mobile","label":"Pacific
        Division","title":"Pacific Division","sortable":true,"align":"left","highlight":false,"sortKey":""}},"games_played":{"properties":{"key":"games_played","hidden":false,"class":"","label":"GP","title":"Games
        Played","sortable":true,"align":"center","highlight":false,"sortKey":"games_played"}},"wins":{"properties":{"key":"wins","hidden":false,"class":"","label":"W","title":"Wins","sortable":true,"align":"center","highlight":false,"sortKey":"wins"}},"losses":{"properties":{"key":"losses","hidden":false,"class":"","label":"L","title":"Losses","sortable":true,"align":"center","highlight":false,"sortKey":"losses"}},"ot_losses":{"properties":{"key":"ot_losses","hidden":false,"class":"","label":"OTL","title":"OTL","sortable":true,"align":"center","highlight":false,"sortKey":"ot_losses"}},"shootout_losses":{"properties":{"key":"shootout_losses","hidden":false,"class":"","label":"SOL","title":"SOL","sortable":true,"align":"center","highlight":false,"sortKey":"shootout_losses"}},"points":{"properties":{"key":"points","hidden":false,"class":"","label":"PTS","title":"Points","sortable":true,"align":"center","highlight":false,"sortKey":"points"}},"percentage":{"properties":{"key":"percentage","hidden":false,"class":"","label":"PCT","title":"PCT","sortable":true,"align":"center","highlight":false,"sortKey":"percentage"}},"regulation_wins":{"properties":{"key":"regulation_wins","hidden":false,"class":"","label":"RW","title":"Regulation
        Win","sortable":true,"align":"center","highlight":false,"sortKey":"regulation_wins"}},"row":{"properties":{"key":"row","hidden":false,"class":"","label":"ROW","title":"Regulation
        and OT Wins","sortable":true,"align":"center","highlight":false,"sortKey":"row"}},"goals_for":{"properties":{"key":"goals_for","hidden":false,"class":"","label":"GF","title":"GF","sortable":true,"align":"center","highlight":false,"sortKey":"goals_for"}},"goals_against":{"properties":{"key":"goals_against","hidden":false,"class":"","label":"GA","title":"Goals
        Against","sortable":true,"align":"center","highlight":false,"sortKey":"goals_against"}},"streak":{"properties":{"key":"streak","hidden":false,"class":"","label":"STK","title":"Streaks","sortable":true,"align":"center","highlight":false,"sortKey":""}},"past_10":{"properties":{"key":"past_10","hidden":false,"class":"","label":"P10","title":"Past
        10 Games","sortable":true,"align":"center","highlight":false,"sortKey":""}},"penalty_minutes":{"properties":{"key":"penalty_minutes","hidden":false,"class":"","label":"PIM","title":"Penalty
        Minutes","sortable":true,"align":"center","highlight":false,"sortKey":"penalty_minutes"}}},"data":[{"prop":{"team_code":{"teamLink":"402"},"name":{"teamLink":"402"}},"row":{"team_code":"BAK","wins":"4","losses":"2","ot_losses":"0","shootout_losses":"0","regulation_wins":"1","row":"4","points":"8","penalty_minutes":"78","streak":"1-0-0-0","goals_for":"17","goals_against":"18","percentage":"0.667","overall_rank":"1","games_played":"6","rank":1,"past_10":"4-2-0-0","name":"Bakersfield
        Condors"}},{"prop":{"team_code":{"teamLink":"437"},"name":{"teamLink":"437"}},"row":{"team_code":"HSK","wins":"3","losses":"2","ot_losses"[...]
[...]
