---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1018452&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1018452,"date":"Friday, October 26, 2018","gameNumber":"114","venue":"Valley
        View Casino Center","attendance":6768,"startTime":"7:06 pm","endTime":"9:59
        pm","duration":"2:53","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1018452","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1018452","ticketsUrl":"https:\/\/theahl.com\/game-tickets","started":"1","final":"1","publicNotes":"","status":"Final
        SO","seasonId":"61","htvGameId":"400901","GameDateISO8601":"2018-10-26T19:00:00-07:00"},"referees":[{"firstName":"Peter","lastName":"MacDougall","jerseyNumber":45,"role":"Referee"},{"firstName":"Andrew","lastName":"Wilk","jerseyNumber":57,"role":"Referee"}],"linesmen":[{"firstName":"Greg","lastName":"McAlpine","jerseyNumber":93,"role":"Linesman"},{"firstName":"Steve","lastName":"Walsh","jerseyNumber":85,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":404,"name":"San
        Diego Gulls","city":"San Diego","nickname":"Gulls","abbreviation":"SD","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/404.jpg","divisionName":"Pacific
        Division"},"player":{"info":{"id":3386,"firstName":"Luke","lastName":"Gazdic","jerseyNumber":26,"position":"LW","birthDate":"1989-07-25"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/3386.jpg"},{"team":{"id":404,"name":"San
        Diego Gulls","city":"San Diego","nickname":"Gulls","abbreviation":"SD","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/404.jpg","divisionName":"Pacific
        Division"},"player":{"info":{"id":6285,"firstName":"Kalle","lastName":"Kossila","jerseyNumber":14,"position":"LW","birthDate":"1993-04-14"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":5,"hits":0},"starting":1,"status":"A"},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6285.jpg"},{"team":{"id":406,"name":"Stockton
        Heat","city":"Stockton","nickname":"Heat","abbreviation":"STK","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/406_61.jpg","divisionName":"Pacific
        Division"},"player":{"info":{"id":6784,"firstName":"Glenn","lastName":"Gawdin","jerseyNumber":21,"position":"C","birthDate":"1997-03-25"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/6784.jpg"}],"hasShootout":true,"shootoutDetails":{"homeTeamShots":[{"shooter":{"id":6285,"firstName":"Kalle","lastName":"Kossila","jerseyNumber":14,"position":"LW","birthDate":"1993-04-14"},"goalie":{"id":6064,"firstName":"Jon","lastName":"Gillies","jerseyNumber":32,"position":"G","birthDate":"1994-01-22"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":404,"name":"San
        Diego Gulls","city":"San Diego","nickname":"Gulls","abbreviation":"SD","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/404.jpg","divisionName":"Pacific
        Division"}},{"shooter":{"id":7454,"firstName":"Troy","lastName":"Terry","jerseyNumber":19,"position":"RW","birthDate":"1997-09-10"},"goalie":{"id":6064,"firstName":"Jon","lastName":"Gillies","jerseyNumber":32,"position":"G","birthDate":"1994-01-22"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1018452&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":6324,"firstName":"Kevin","lastName":"Boyle","jerseyNumber":33,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"404","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":6064,"firstName":"Jon","lastName":"Gillies","jerseyNumber":32,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"406","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"penalty","details":{"game_penalty_id":"214826","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:03","againstTeam":{"id":406,"name":"","city":"","nickname":"","abbreviation":"STK","logo":""},"minutes":"2.00","description":"Tripping","ruleNumber":"","takenBy":{"id":6069,"firstName":"Ryan","lastName":"Lomberg","jerseyNumber":41,"position":"LW","birthDate":""},"servedBy":{"id":6069,"firstName":"Ryan","lastName":"Lomberg","jerseyNumber":41,"position":"LW","birthDate":""},"isPowerPlay":true}},{"event":"goalie_change","details":{"goalieComingIn":null,"goalieGoingOut":{"id":6324,"firstName":"Kevin","lastName":"Boyle","jerseyNumber":33,"position":"G","birthDate":""},"team_id":"404","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:03"}},{"event":"shot","details":{"shooter":{"id":6285,"firstName":"Kalle","lastName":"Kossila","jerseyNumber":11,"position":"LW","birthDate":""},"goalie":{"id":6064,"firstName":"Jon","lastName":"Gillies","jerseyNumber":32,"position":"G","birthDate":""},"shooterTeamId":"404","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:33","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Default","xLocation":80,"yLocation":173}},{"event":"shot","details":{"shooter":{"id":6098,"firstName":"Chase","lastName":"De
        Leo","jerseyNumber":7,"position":"C","birthDate":""},"goalie":{"id":6064,"firstName":"Jon","lastName":"Gillies","jerseyNumber":32,"position":"G","birthDate":""},"shooterTeamId":"404","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:39","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":145,"yLocation":231}},{"event":"shot","details":{"shooter":{"i[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"68","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"68","name":"2020-21
        Regular Season","default_sort":""},{"id":"67","name":"2020 All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20
        Regular Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-18
        Exhibition","default_sort":""},{"id":"59","name":"2018 All-[...]
