---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&division_id=undefined&feed=modulekit&fmt=json&key=ccb91f29d6744675&lang=en&league_id=4&numberofdaysahead=6&numberofdaysback=5&site_id=3&view=scorebar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: json({"SiteKit":{"Parameters":{"callback":"json","client_code":"ahl","division_id":"undefined","feed":"modulekit","fmt":"json","key":"ccb91f29d6744675","lang":"en","lang_id":1,"league_code":"ahl","league_id":4,"numberofdaysahead":"6","numberofdaysback":"5","season_id":"73","site_id":"3","view":"scorebar","ck":"ahlen733scorebar","ch":"no"},"Scorebar":[{"ID":"1022681","SeasonID":"73","game_number":"56","game_letter":"","game_type":"","quick_score":"0","Date":"2021-10-23","HtvGameID":"950010","GameDate":"Sat,
        Oct 23","GameDateISO8601":"2021-10-23T16:00:00-04:00","ScheduledTime":"16:00:00","ScheduledFormattedTime":"4:00
        pm","Timezone":"Canada\/Eastern","TicketUrl":"","HomeID":"335","HomeCode":"TOR","HomeCity":"Toronto","HomeNickname":"Marlies","HomeLongName":"Toronto
        Marlies","HomeDivision":"North Division","HomeGoals":"3","HomeAudioUrl":"","HomeVideoUrl":"https:\/\/theahl.com\/tv-schedule","HomeWebcastUrl":"http:\/\/ahltv.com","VisitorID":"323","VisitorCode":"ROC","VisitorCity":"Rochester","VisitorNickname":"Americans","VisitorLongName":"Rochester
        Americans","VisitingDivision":"North Division","VisitorGoals":"7","VisitorAudioUrl":"https:\/\/www.audacy.com\/espnrochester","VisitorVideoUrl":"","VisitorWebcastUrl":"http:\/\/ahltv.com","Period":"3","PeriodNameShort":"3","PeriodNameLong":"3rd","GameClock":"00:00","GameSummaryUrl":"1022681","HomeWins":"4","HomeRegulationLosses":"3","HomeOTLosses":"0","HomeShootoutLosses":"0","VisitorWins":"4","VisitorRegulationLosses":"2","VisitorOTLosses":"0","VisitorShootoutLosses":"0","GameStatus":"4","Intermission":"0","GameStatusString":"Final","GameStatusStringLong":"Final","Ord":"2021-10-23
        16:00:00.000000","venue_name":"Coca-Cola Coliseum","venue_location":"Toronto,
        ON","league_name":"American Hockey League","league_code":"ahl","TimezoneShort":"EDT","HomeLogo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/50x50\/335_73.png","VisitorLogo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/50x50\/323_73.png"},{"ID":"1022673","SeasonID":"73","game_number":"48","game_letter":"","game_type":"","quick_score":"0","Date":"2021-10-23","HtvGameID":"950002","GameDate":"Sat,
        Oct 23","GameDateISO8601":"2021-10-23T18:00:00-04:00","ScheduledTime":"18:00:00","ScheduledFormattedTime":"6:00
        pm","Timezone":"Canada\/Eastern","TicketUrl":"https:\/\/www.ticketmaster.com\/Charlotte-Checkers-tickets\/artist\/806449?brand=checkersahl&camefrom[...]
