---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1013471&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1013471,"date":"Saturday, October 11, 2014","gameNumber":"12","venue":"Cross
        Insurance Arena","attendance":5601,"startTime":"7:05 pm","endTime":"9:38 pm","duration":"2:33","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1013471","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1013471","ticketsUrl":"","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"48","htvGameId":"","GameDateISO8601":"2014-10-11T19:00:00-04:00"},"referees":[{"firstName":"Alex","lastName":"Garon","jerseyNumber":64,"role":"Referee"},{"firstName":"Keith","lastName":"Kaval","jerseyNumber":40,"role":"Referee"}],"linesmen":[{"firstName":"Joe","lastName":"Andrews","jerseyNumber":32,"role":"Linesman"},{"firstName":"Landon","lastName":"Bathe","jerseyNumber":80,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":310,"name":"Portland
        Pirates","city":"Portland","nickname":"Portland","abbreviation":"POR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/310.jpg","divisionName":"Atlantic
        Division"},"player":{"info":{"id":4616,"firstName":"Brendan","lastName":"Shinnimin","jerseyNumber":24,"position":"C","birthDate":"1991-01-07"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":1,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/4616.jpg"},{"team":{"id":309,"name":"Providence
        Bruins","city":"Providence","nickname":"Providence","abbreviation":"PRO","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/309.jpg","divisionName":"Atlantic
        Division"},"player":{"info":{"id":5697,"firstName":"David","lastName":"Pastrnak","jerseyNumber":32,"position":"RW","birthDate":"1996-05-25"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":4,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5697.jpg"},{"team":{"id":310,"name":"Portland
        Pirates","city":"Portland","nickname":"Portland","abbreviation":"POR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/310.jpg","divisionName":"Atlantic
        Division"},"player":{"info":{"id":4919,"firstName":"Lucas","lastName":"Lessio","jerseyNumber":38,"position":"LW","birthDate":"1993-01-23"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":2,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0,"shots":6,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/4919.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":310,"name":"Portland
        Pirates","city":"Portland","nickname":"Portland","abbreviation":"POR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/310.jpg","divisionName":"Atlantic
        Division"},"stats":{"shots":27,"goals":3,"hits":0,"powerPlayGoals":2,"powerPlayOpportunities":6,"goalCount":3,"assistCount":5,"penaltyMinuteCount":15,"infractionCount":6},"media":{"audioUrl":"","videoUrl":"","webcastUrl":"http:\/\/www.ahllive.com"},"coaches":[{"firstName":"Ray","lastName":"Edwards","role":"Head
        Coach"},{"firstName":"John","lastName":"Slaney","role":"Assistant Coach"},{"firstName":"Trent","lastName":"Whitfield","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":1743,"firstName":"Dylan","lastName":"Reese","jerseyNumber":2,"position":"D","birthDate":"1984-08-29"},"stats":{"goals":0,"assists":2,"points":2,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":1,"status":"A"},{"info":{"id":2507,"firstName":"Andrew","lastName":"Campbell","jerseyNumber":4,"position":"D","birthDate":"1988-02-04"},"stats":{"goals":0,"assists":1,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWi[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1013471&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":2422,"firstName":"Jeremy","lastName":"Smith","jerseyNumber":35,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"309","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":1040,"firstName":"Mike","lastName":"McKenna","jerseyNumber":56,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"310","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"penalty","details":{"game_penalty_id":"152375","period":{"id":"1","shortName":"1","longName":"1st"},"time":"5:43","againstTeam":{"id":309,"name":"","city":"","nickname":"","abbreviation":"PRO","logo":""},"minutes":"5.00","description":"Fighting","ruleNumber":"","takenBy":{"id":4231,"firstName":"Tyler","lastName":"Randell","jerseyNumber":64,"position":"RW","birthDate":""},"servedBy":{"id":4231,"firstName":"Tyler","lastName":"Randell","jerseyNumber":64,"position":"RW","birthDate":""},"isPowerPlay":false,"isBench":false}},{"event":"penalty","details":{"game_penalty_id":"152374","period":{"id":"1","shortName":"1","longName":"1st"},"time":"5:43","againstTeam":{"id":310,"name":"","city":"","nickname":"","abbreviation":"POR","logo":""},"minutes":"5.00","description":"Fighting","ruleNumber":"","takenBy":{"id":3724,"firstName":"Eric","lastName":"Selleck","jerseyNumber":44,"position":"RW","birthDate":""},"servedBy":{"id":3724,"firstName":"Eric","lastName":"Selleck","jerseyNumber":44,"position":"RW","birthDate":"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
