---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1001156&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"details":{"id":1001156,"date":"Friday, November 04, 2005","gameNumber":"123","venue":"Arena
        at Harbor Yard","attendance":3730,"startTime":"7:37 pm","endTime":"10:00 pm","duration":"2:23","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1001156","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1001156","ticketsUrl":"","started":"1","final":"1","publicNotes":"Penalty
        Shot: Collins (BRI) vs. Hauser (MCH), 1st\/15:47, Goal, 30(c)","status":"Final","seasonId":"1","htvGameId":"","GameDateISO8601":"2005-11-04T19:35:00-05:00"},"referees":[{"firstName":"Chris","lastName":"Ciamaga","jerseyNumber":68,"role":"Referee"}],"linesmen":[{"firstName":"Brent","lastName":"Colby","jerseyNumber":7,"role":"Linesman"},{"firstName":"Marty","lastName":"Demers","jerseyNumber":79,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":317,"name":"Bridgeport
        Sound Tigers","city":"Bridgeport","nickname":"Bridgeport","abbreviation":"BRI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/317_1.jpg","divisionName":"East
        Division"},"player":{"info":{"id":216,"firstName":"Steve","lastName":"Regier","jerseyNumber":39,"position":"LW","birthDate":"1984-08-31"},"stats":{"goals":2,"assists":1,"points":3,"penaltyMinutes":0,"plusMinus":3,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/216.jpg"},{"team":{"id":344,"name":"Manchester
        Monarchs","city":"Manchester","nickname":"Monarchs","abbreviation":"MCH","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/344.jpg","divisionName":"Atlantic
        Division"},"player":{"info":{"id":633,"firstName":"Lauri","lastName":"Tukonen","jerseyNumber":28,"position":"RW","birthDate":"1986-09-01"},"stats":{"goals":1,"assists":1,"points":2,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/633.jpg"},{"team":{"id":344,"name":"Manchester
        Monarchs","city":"Manchester","nickname":"Monarchs","abbreviation":"MCH","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/344.jpg","divisionName":"Atlantic
        Division"},"player":{"info":{"id":627,"firstName":"Jeff","lastName":"Tambellini","jerseyNumber":15,"position":"LW","birthDate":"1984-04-13"},"stats":{"goals":1,"assists":2,"points":3,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":8,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/627.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":317,"name":"Bridgeport
        Sound Tigers","city":"Bridgeport","nickname":"Bridgeport","abbreviation":"BRI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/317_1.jpg","divisionName":"East
        Division"},"stats":{"shots":32,"goals":5,"hits":0,"powerPlayGoals":0,"powerPlayOpportunities":7,"goalCount":5,"assistCount":7,"penaltyMinuteCount":48,"infractionCount":13},"media":{"audioUrl":"","videoUrl":"","webcastUrl":"https:\/\/www.b2livetv.com\/hockey\/ahl\/bridgeport\/billnow.asp"},"coaches":[{"firstName":"Dave","lastName":"Baseggio","role":"Head
        Coach"},{"firstName":"Pat","lastName":"Bingham","role":"Assistant Coach"},{"firstName":"Lane","lastName":"Lambert","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":704,"firstName":"Mike","lastName":"Jarmuth","jerseyNumber":2,"position":"D","birthDate":"1982-02-13"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},{"info":{"id":165,"firstName":"Paul","lastName":"Flache","jerseyNumber":5,"position":"D","birthDate":"1982-03-04"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":29,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1001156&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":218,"firstName":"Wade","lastName":"Dubielewicz","jerseyNumber":31,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"317","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":618,"firstName":"Adam","lastName":"Hauser","jerseyNumber":1,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"344","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"penalty","details":{"game_penalty_id":"2717","period":{"id":"1","shortName":"1","longName":"1st"},"time":"2:17","againstTeam":{"id":317,"name":"","city":"","nickname":"","abbreviation":"BRI","logo":""},"minutes":"2.00","description":"Hooking","ruleNumber":"","takenBy":{"id":459,"firstName":"Luch","lastName":"Aquino","jerseyNumber":19,"position":"RW","birthDate":""},"servedBy":{"id":459,"firstName":"Luch","lastName":"Aquino","jerseyNumber":19,"position":"RW","birthDate":""},"isPowerPlay":true}},{"event":"penalty","details":{"game_penalty_id":"2719","period":{"id":"1","shortName":"1","longName":"1st"},"time":"8:44","againstTeam":{"id":344,"name":"","city":"","nickname":"","abbreviation":"MCH","logo":""},"minutes":"2.00","description":"Holding","ruleNumber":"","takenBy":{"id":727,"firstName":"Mark","lastName":"Ardelan","jerseyNumber":6,"position":"D","birthDate":""},"servedBy":{"id":727,"firstName":"Mark","lastName":"Ardelan","jerseyNumber":6,"position":"D","birthDate":""},"isPowerPlay":true}},{"event":"goal","details":{"game_goal_id":"795","team":{"id":317,"name":"","city":"","nickname":"","abbreviation":"BRI","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"11:09","scorerGoalNumber":"1","scoredBy":{"id":216,"firstName":"Steve","lastName":"Regier","jerseyNumber":39,"position":"LW","birthDate":""},"assists":[{"id":678,"firstName":"Evgeny","lastName":"Tunik","jerseyNumber":50,"position":"C","birthDate":""},{"id":214,"firstName":"Travis","lastName":"Brigley","jerseyNumber":15,"position":"LW","birthDate":""}],"assistNumbers":["1","1"],"properties":{"isPowerPlay":"0","isShortHanded":"0","isEmptyNet":"0","isPenaltyShot":"0","isInsuranceGoal":"0","isGameWinningGoal":"0"},"plus_players":[{"id":167,"firstName":"Jody","lastName":"Robinson","jerseyNumber":6,"position":"D","birthDate":""},{"id":202,"firstName":"Ryan","lastName":"Caldwell","jerseyNumber":21,"position":"D","birthDate":""},{"id":214,"firstName":"Travis","lastName":"Brigley","jerseyNumber":15,"position":"LW","birthDate":""},{"id":216,"firstName":"Steve","lastName":"Regier","jerseyNumber":39,"position":"LW","birthDate":""},{"id":678,"firstName":"Evgeny","lastName":"Tunik","jerseyNumber":50,"position":"C","birthDate":""}],"minus_players":[{"id":621,"firstName":"Joey","lastName":"Mormina","jerseyNumber":3,"position":"D","birthDate":""},{"id":627,"firstName":"Jeff","lastName":"Tambellini","jerseyNumber":7,"position":"C","birthDate":""},{"id":632,"firstName":"Brad","lastName":"Fast","jerseyNumber":27,"position":"D","birthDate":""},{"id":727,"firstName":"Mark","lastName":"Ardelan","jerseyNumber":6,"position":"D","birthDate":""},{"id":638,"firstName":"Brendan","lastName":"Bernakevitch","jerseyNumber":39,"position":"F","birthDate":""}]}},{"event":"penalty","details":{"game_penalty_id":"2721","period":{"id":"1","shortName":"1","longName":"1st"},"time":"12:21","againstTeam":{"id":344,"name":"","city":"","nickname":"","abbreviation":"MCH","logo":""},"minutes":"2.00","description":"Cross-checking","ruleNumber":"","takenBy":{"id":631,"firstName":"Noah","lastName":"Clarke","jerseyNumber":15,"position":"LW","birthDate":""},"servedBy":{"id":631,"firstName":"Noah","lastName":"Clarke","jerseyNumber":15,"position":"LW","birthDate":""},"isPowerPlay":true}},{"event":"penaltyshot","details":{"shooter":{"id":193,"firstName":"Rob","lastName":"Collins","jerseyNumber":19,"position":"RW","birthDate":""},"goalie":{"id":618,"firstName":"Adam","lastName":"Hauser","jerseyNumber":1,"position":"G","birthDate":""},"shooter_team":{"id":317,"name":"","city":"","nickname":"","abbreviation":"BRI","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"15:47","isGoal":true}},{"event":"goal","details":{"game_goal_id":"796","team":{"id":317,"name":"","city":"","nickname":"","abbreviation":"BRI","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"15:47","scorerGoalNumber":"4","scoredBy":{"id":193,"firstName":"Rob","lastName":"Collins","jerseyNumber":19,"position":"RW","birthDate":""},"assists":[],"assistNumbers":["0","0"],"properties":{"isPowerPlay":"0","isShortHanded":"0","isEmptyNet":"0","isPenaltyShot":"1","isInsuranceGoal":"0","isGameWinn[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"68","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"68","name":"2020-21
        Regular Season","default_sort":""},{"id":"67","name":"2020 All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20
        Regular Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-18
        Exhibition","default_sort":""},{"id":"59","name":"2018 All-[...]
