---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=ccb91f29d6744675&lang=en&league_id=&player_id=304&season_id=1&site_id=3&statsType=standard&view=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"info":{"jerseyNumber":"17","firstName":"Denis","lastName":"Hamel","playerId":"304","personId":"331","position":"LW","shoots":"L","catches":"L","height":"6-2","height_sans_hyphen":"6.2","height_hyphenated":"6-2","weight":"203","birthDate":"1977-05-10","profileImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/304.jpg","teamImage":"https:\/\/assets.leaguestat.com\/ahl\/logos\/315.jpg","bio":"CAREER
        AWARDS\/HONORS:  QMJHL All-Rookie Team (1995)\u2026AHL First All-Star Team
        (2004)\u2026Willie Marshall Award (AHL leading goal scorer) 2005-06\u2026Yanick
        Dupre Memorial Award (AHL Man of the Year) 2007-08\u2026\r\n2008-09:  Buried
        game-winning shootout marker in B-Sens season opener @ TOR\u2026returned to
        line-up after missing eight games with a knee injury and buried game-winning
        goal in B-Sens 4-2 win over WBS\u2026notched two points, in[...]
