---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1012612&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1012612,"date":"Sunday, November 07, 2004","gameNumber":"141","venue":"Hartford
        Civic Center Veterans Memorial Coliseum","attendance":2681,"startTime":"4:05
        pm","endTime":"6:01 pm","duration":"1:56","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1012612","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1012612","ticketsUrl":"","started":"1","final":"1","publicNotes":"","status":"Final","seasonId":"46","htvGameId":"","GameDateISO8601":"2004-11-07T16:05:00-05:00"},"referees":[{"firstName":"Francois","lastName":"St.
        Laurent","jerseyNumber":38,"role":"Referee"}],"linesmen":[{"firstName":"Brent","lastName":"Colby","jerseyNumber":7,"role":"Linesman"},{"firstName":"Marty","lastName":"Demers","jerseyNumber":79,"role":"Linesman"}],"mostValuablePlayers":[],"hasShootout":false,"homeTeam":{"info":{"id":307,"name":"Hartford
        Wolf Pack","city":"Hartford","nickname":"Hartford","abbreviation":"HFD","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/307.jpg","divisionName":"Atlantic
        Division"},"stats":{"shots":38,"goals":4,"hits":0,"powerPlayGoals":2,"powerPlayOpportunities":5,"goalCount":4,"assistCount":7,"penaltyMinuteCount":11,"infractionCount":4},"media":{"audioUrl":"","videoUrl":"","webcastUrl":""},"coaches":[],"skaters":[{"info":{"id":973,"firstName":"Maxim","lastName":"Kondratiev","jerseyNumber":2,"position":"D","birthDate":"1983-01-20"},"stats":{"goals":0,"assists":1,"points":1,"penaltyMinutes":0,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":""},{"info":{"id":949,"firstName":"Lucas","lastName":"Lawson","jerseyNumber":11,"position":"LW","birthDate":"1979-08-10"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0,"shots":5,"hits":0},"starting":0,"status":""},{"info":{"id":2806,"firstName":"Ken","lastName":"Gernander","jerseyNumber":12,"position":"RW","birthDate":"1969-06-30"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttem[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1012612&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":1523,"firstName":"Steve","lastName":"Valiquette","jerseyNumber":40,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"307","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":289,"firstName":"Brian","lastName":"Eklund","jerseyNumber":30,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"312","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"penalty","details":{"game_penalty_id":"195324","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:56","againstTeam":{"id":307,"name":"","city":"","nickname":"","abbreviation":"HFD","logo":""},"minutes":"2.00","description":"Tripping","ruleNumber":"","takenBy":{"id":34,"firstName":"Alexandre","lastName":"Giroux","jerseyNumber":10,"position":"LW","birthDate":""},"servedBy":{"id":34,"firstName":"Alexandre","lastName":"Giroux","jerseyNumber":10,"position":"LW","birthDate":""},"isPowerPlay":true,"isBench":false}},{"event":"goal","details":{"game_goal_id":"84766","team":{"id":312,"name":"","city":"","nickname":"","abbreviation":"SPR","logo":""},"period":{"id":"1","shortName":"1","longName":"1st"},"time":"9:17","scorerGoalNumber":"5","scoredBy":{"id":243,"firstName":"Ryan","lastName":"Craig","jerseyNumber":12,"position":"LW","birthDate":""},"assists":[{"id":229,"firstName":"Craig","lastName":"Darby","jerseyNumber":19,"position":"C","birthDate":""},{"id":1381,"firstName":"Shane","lastName":"Willis","jerseyNumber":21,"position":"RW","birthDate":""}],"assistNumbers":["6","6"],"properties":{"isPowerPlay":"0","isShortHanded":"0","isEmptyNet":"0","isPenaltyShot":"0","isInsuranceGoal":"0","isGameWinningGoal":"0"},"plus_players":[{"id":1076,"firstName":"Terry","lastName":"Virtue","jerseyNumber":3,"position":"D","birthDate":""},{"id":229,"firstName":"Craig","lastName":"Darby","jerseyNumber":19,"position":"C","birthDate":""},{"id":243,"firstName":"Ryan","lastName":"Craig","jerseyNumber":12,"position":"LW","birthDate":""},{"id":1381,"firstName":"Shane","lastName":"Willis","jerseyNumber":21,"position":"RW","birthDate":""},{"id":277,"firstName":"Mike","lastName":"Egener","jerseyNumber":48,"position":"D","birthDate":""}],"minus_players":[{"id":949,"firstName":"Lucas","lastName":"Lawson","jerseyNumber":41,"position":"LW","birthDate":""},{"id":2806,"firstName":"Ken","lastName":"Gernander","jerseyNumber":12,"position":"RW","birthDate":""},{"id":88,"firstName":"Layne","lastName":"Ulmer","jerseyNumber":15,"position":"C","birthDate":""},{"id":58,"firstName":"Bryce","lastName":"Lampman","jerseyNumber":27,"position":"D","birthDate":""},{"id":187,"firstName":"Lawrence","lastName":"Nycholat","jerseyNumber":28,"position":"D","birthDate":"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
