---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1023909&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1023909,"date":"Monday, October 17, 2022","gameNumber":"31","venue":"Adirondack
        Bank Center","attendance":0,"startTime":"7:10 pm","endTime":"","duration":"","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1023909","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1023909","ticketsUrl":"","started":"1","final":"0","publicNotes":"Game
        suspended due to power failure; to be completed at a later date.","status":"Suspended
        (2:43 remaining in 2nd)","seasonId":"77","htvGameId":"998292","GameDateISO8601":"2022-10-17T19:00:00-04:00"},"referees":[{"firstName":"Jim","lastName":"Curtin","jerseyNumber":22,"role":"Referee"},{"firstName":"Adam","lastName":"Tobias","jerseyNumber":16,"role":"Referee"}],"linesmen":[{"firstName":"Tory","lastName":"Carissimo","jerseyNumber":54,"role":"Linesman"},{"firstName":"Rick","lastName":"Lembo","jerseyNumber":25,"role":"Linesman"}],"scorekeepers":[],"mostValuablePlayers":[],"hasShootout":false,"homeTeam":{"info":{"id":390,"name":"Utica
        Comets","city":"Utica","nickname":"Comets","abbreviation":"UTC","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/390_77.jpg","divisionName":"North
        Division"},"stats":{"shots":14,"goals":2,"hits":0,"powerPlayGoals":0,"powerPlayOpportunities":2,"goalCount":2,"assistCount":4,"penaltyMinuteCount":10,"infractionCount":5},"media":{"audioUrl":"","videoUrl":"","webcastUrl":"http:\/\/ahltv.com"},"coaches":[{"firstName":"Kevin","lastName":"Dineen","role":"Head
        Coach"},{"firstName":"Andrew","lastName":"Brewer","role":"Assistant Coach"},{"firstName":"Ryan","lastName":"Parent","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":8407,"firstName":"Michael","lastName":"Vukojevic","jerseyNumber":2,"position":"D","birthDate":"2001-06-08","playerImageURL":"\/ahl\/120x160\/8407.jpg"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},{"info":{"id":6037,"firstName":"Robbie","lastName":"Russo","jerseyNumber":5,"position":"D","birthDate":"1993-02-15","playerImageURL":"\/ahl\/120x160\/6037.jpg"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":"A"},{"info":{"id":9529,"firstName":"Simon","lastName":"Nemec","jerseyNumber":7,"position":"D","birthDate":"2004-02-15","playerImageURL":"\/ahl\/120x160\/9529.jpg"},"stats[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1023909&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":8860,"firstName":"Nico","lastName":"Daws","jerseyNumber":50,"position":"G","birthDate":"","playerImageURL":"\/ahl\/120x160\/8860.jpg"},"goalieGoingOut":null,"team_id":"390","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":8787,"firstName":"Filip","lastName":"Lindberg","jerseyNumber":31,"position":"G","birthDate":"","playerImageURL":"\/ahl\/120x160\/8787.jpg"},"goalieGoingOut":null,"team_id":"316","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":8407,"firstName":"Michael","lastName":"Vukojevic","jerseyNumber":2,"position":"D","birthDate":"","playerImageURL":"\/ahl\/120x160\/8407.jpg"},"goalie":{"id":8787,"firstName":"Filip","lastName":"Lindberg","jerseyNumber":31,"position":"G","birthDate":"","playerImageURL":"\/ahl\/120x160\/8787.jpg"},"shooterTeamId":"390","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:35","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":437,"yLocation":27}},{"event":"shot","details":{"shooter":{"id":7585,"firstName":"Jeremy","lastName":"Groleau","jerseyNumber":75,"position":"D","birthDate":"","playerImageURL":"\/ahl\/120x160\/7585.jpg"},"goalie":{"id":8787,"firstName":"Filip","lastName":"Lindberg","jerseyNumber":31,"position":"G","birthDate":"","playerImageURL":"\/ahl\/120x160\/8787.jpg"},"shooterTeamId":"390","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:57","isGoal":false,"shotQuality":"Non
        quality on net","shotType"[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"77","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"77","name":"2022-23
        Regular Season","default_sort":"","hide_in_standings":false},{"id":"76","name":"2022
        Calder Cup Playoffs","default_sort":"","hide_in_standings":false},{"id":"73","name":"2021-22
        Regular Season","default_sort":"","hide_in_standings":false},{"id":"72","name":"2021
        Playoffs","default_sort":"","hide_in_standings":false},{"id":"68","name":"2020-21
        Regular Season","default_sort":"","hide_in_standings":false},{"id":"67","name":"2020
        All-Star Challenge","default_sort":"","hide_in_standings":false},{"id":"65","name":"[...]
