---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019769&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1019769,"date":"Saturday, November 02, 2019","gameNumber":"152","venue":"Place
        Bell","attendance":5681,"startTime":"3:07 pm","endTime":"5:37 pm","duration":"2:30","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1019769","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1019769","ticketsUrl":"https:\/\/theahl.com\/game-tickets","started":"1","final":"1","publicNotes":"","status":"Final
        SO","seasonId":"65","htvGameId":"406993","GameDateISO8601":"2019-11-02T15:00:00-04:00"},"referees":[{"firstName":"Conor","lastName":"O'Donnell","jerseyNumber":41,"role":"Referee"},{"firstName":"Carter","lastName":"Sandlak","jerseyNumber":6,"role":"Referee"}],"linesmen":[{"firstName":"Francois","lastName":"Dussureault","jerseyNumber":60,"role":"Linesman"},{"firstName":"Christopher","lastName":"Provost","jerseyNumber":57,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"},"player":{"info":{"id":4819,"firstName":"Alex","lastName":"Belzile","jerseyNumber":22,"position":"C","birthDate":"1991-08-31"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":"A"},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/4819.jpg"},{"team":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"},"player":{"info":{"id":4879,"firstName":"Charles","lastName":"Hudon","jerseyNumber":18,"position":"C","birthDate":"1994-06-23"},"stats":{"goals":2,"assists":0,"points":2,"penaltyMinutes":2,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":7,"hits":0},"starting":1,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/4879.jpg"},{"team":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"},"player":{"info":{"id":7384,"firstName":"Lukas","lastName":"Vejdemo","jerseyNumber":12,"position":"C","birthDate":"1996-01-25"},"stats":{"goals":1,"assists":1,"points":2,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7384.jpg"}],"hasShootout":true,"shootoutDetails":{"homeTeamShots":[{"shooter":{"id":7381,"firstName":"Jake","lastName":"Evans","jerseyNumber":10,"position":"C","birthDate":"1996-06-02"},"goalie":{"id":8003,"firstName":"Joseph","lastName":"Woll","jerseyNumber":35,"position":"G","birthDate":"1998-07-12"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"}},{"shooter":{"id":4879,"firstName":"Charles","lastName":"Hudon","jerseyNumber":18,"position":"C","birthDate":"1994-06-23"},"goalie":{"id":8003,"firstName":"Joseph","lastName":"Woll","jerseyNumber":35,"position":"G","birthDate":"1998-07-12"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"}},{"shooter":{"id":4819,"firstName":"Alex","lastName":"Belzile","jerseyNumber":22,"position":"C","birthDate":"1991-08-31"},"goalie":{"id":8003,"firstName":"Joseph","lastName":"Woll","jerseyNumber":35,"position":"G","birthDate":"1998-07-12"},"isGoal":true,"isGameWinningGoal":true,"shooterTeam":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"}}],"visitingTeamShots":[{"shooter":{"id":6146,"firstName":"Nic","lastName":"Petan","jerseyNumber":61,"position":"LW","birthDate":"1995-03-22"},"goalie":{"id":6514,"firstName":"Charlie","lastName":"Lindgren","jerseyNumber":35,"position":"G","birthDate":"1993-12-18"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg"}},{"shooter":{"id":5660,"firstName":"Kenny","lastName":"Agostino","jerseyNumber":18,"position":"LW","birthDate":"1992-04-30"},"goalie":{"id":6514,"firstName":"Charlie","lastName":"Lindgren","jerseyNumber":35,"position":"G","birthDate":"1993-12-18"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg"}},{"shooter":{"id":5372,"firstName":"Pontus","lastName":"Aberg","jerseyNumber":46,"position":"RW","birthDate":"1993-09-23"},"goalie":{"id":6514,"firstName":"Charlie","lastName":"Lindgren","jerseyNumber":35,"position":"G","birthDate":"1993-12-18"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg"}}],"winningTeam":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"}},"homeTeam":{"info":{"id":415,"name":"Laval
        Rocket","city":"Laval","nickname":"Rocket","abbreviation":"LAV","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/415.jpg"},"stats":{"shots":53,"goals":6,"hits":0,"powerPlayGoals":1,"powerPlayOpportunities":4,"goalCount":5,"assistCount":9,"penaltyMinuteCount":8,"infractionCount":4},"media":{"audioUrl":"https:\/\/919sports.ca\/","videoUrl":"","webcastUrl":"https:\/\/www.theahl.com\/AHLTV"},"coaches":[{"firstName":"Joel","lastName":"Bouchard","role":"Head
        Coach"},{"firstName":"Alexandre","lastName":"Burrows","role":"Assistant Coach"},{"firstName":"Daniel","lastName":"Jacob","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":7577,"firstName":"Josh","lastName":"Brook","jerseyNumber":8,"position":"D","birthDate":"1999-06-17"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},{"info":{"id":7381,"firstName":"Jake","lastName":"Evans","jerseyNumber":10,"position":"C","birthDate":"1996-06-02"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019769&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":6514,"firstName":"Charlie","lastName":"Lindgren","jerseyNumber":35,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"415","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":8003,"firstName":"Joseph","lastName":"Woll","jerseyNumber":35,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"335","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":2474,"firstName":"Dale","lastName":"Weise","jerseyNumber":21,"position":"RW","birthDate":""},"goalie":{"id":8003,"firstName":"Joseph","lastName":"Woll","jerseyNumber":35,"position":"G","birthDate":""},"shooterTeamId":"415","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:36","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Wrist","xLocation":41,"yLocation":174}},{"event":"shot","details":{"shooter":{"id":2474,"firstName":"Dale","lastName":"Weise","jerseyNumber":21,"position":"RW","birthDate":""},"goalie":{"id":8003,"firstName":"Joseph","lastName":"Woll","jerseyNumber":35,"position":"G","birthDate":""},"shooterTeamId":"415","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:38","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Wrist","xLocation":54,"yLocation":163}},{"event":"shot","details":{"shooter":{"id":6041,"firstN[...]
