---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019877&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1019877,"date":"Wednesday, November 20, 2019","gameNumber":"260","venue":"Coca-Cola
        Coliseum","attendance":4508,"startTime":"7:08 pm","endTime":"9:35 pm","duration":"2:27","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1019877","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1019877","ticketsUrl":"https:\/\/theahl.com\/game-tickets","started":"1","final":"1","publicNotes":"","status":"Final
        OT","seasonId":"65","htvGameId":"407101","GameDateISO8601":"2019-11-20T19:00:00-05:00"},"referees":[{"firstName":"Mitch","lastName":"Dunning","jerseyNumber":43,"role":"Referee"},{"firstName":"Beau","lastName":"Halkidis","jerseyNumber":48,"role":"Referee"}],"linesmen":[{"firstName":"Caleb","lastName":"Apperson","jerseyNumber":78,"role":"Linesman"},{"firstName":"Dustin","lastName":"McCrank","jerseyNumber":81,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg"},"player":{"info":{"id":3701,"firstName":"Michael","lastName":"Hutchinson","jerseyNumber":31,"position":"G","birthDate":"1990-03-02"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"timeOnIce":"64:35","shotsAgainst":33,"goalsAgainst":1,"saves":32},"starting":1,"status":""},"isGoalie":true,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/3701.jpg"},{"team":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg"},"player":{"info":{"id":5660,"firstName":"Kenny","lastName":"Agostino","jerseyNumber":18,"position":"LW","birthDate":"1992-04-30"},"stats":{"goals":1,"assists":0,"points":1,"penaltyMinutes":0,"plusMinus":0,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":"A"},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5660.jpg"},{"team":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg"},"player":{"info":{"id":7026,"firstName":"Tanner","lastName":"MacMaster","jerseyNumber":10,"position":"LW","birthDate":"1996-01-08"},"stats":{"goals":0,"assists":1,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":1,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7026.jpg"}],"hasShootout":false,"homeTeam":{"info":{"id":335,"name":"Toronto
        Marlies","city":"Toronto","nickname":"Marlies","abbreviation":"TOR","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/335_65.jpg"},"stats":{"shots":21,"goals":2,"hits":0,"powerPlayGoals":0,"powerPlayOpportunities":1,"goalCount":2,"assistCount":4,"penaltyMinuteCount":24,"infractionCount":5},"media":{"audioUrl":"https:\/\/www.nhl.com\/mapleleafs\/info\/mobile-app","videoUrl":"","webcastUrl":"https:\/\/www.theahl.com\/AHLTV"},"coaches":[{"firstName":"Rob","lastName":"Davison","role":"Assistant
        Coach"},{"firstName":"Jack","lastName":"Han","role":"Assistant Coach"},{"firstName":"A.J.","lastName":"MacLean","role":"Assistant
        Coach"}],"skaters":[{"info":{"id":8025,"firstName":"Teemu","lastName":"Kivihalme","jerseyNumber":6,"position":"D","birthDate":"1995-06-14"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":2,"hits":0},"starting":1,"status":""},{"info":{"id":6893,"firstName":"Timothy","lastName":"Liljegren","jerseyNumber":7,"position":"D","birthDate":"1999-04-30"},"stats":{"goals":0,"assists":1,"points":1,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"face[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019877&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":3701,"firstName":"Michael","lastName":"Hutchinson","jerseyNumber":31,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"335","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":6514,"firstName":"Charlie","lastName":"Lindgren","jerseyNumber":35,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"415","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":5042,"firstName":"Maxim","lastName":"Lamarche","jerseyNumber":20,"position":"D","birthDate":""},"goalie":{"id":3701,"firstName":"Michael","lastName":"Hutchinson","jerseyNumber":31,"position":"G","birthDate":""},"shooterTeamId":"415","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:29","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":411,"yLocation":261}},{"event":"shot","details":{"shooter":{"id":6891,"firstName":"Jeremy","lastName":"Bracco","jerseyNumber":27,"position":"RW","birthDate":""},"goalie":{"id":6514,"firstName":"Charlie","lastName":"Lindgren","jerseyNumber":35,"position":"G","birthDate":""},"shooterTeamId":"335","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:45","isGoal":false,"shotQuality":"Quality
        on net","shotType":"Default","xLocation":97,"yLocation":213}},{"event":"shot","details":{"shooter":{"id":60[...]
