---
http_interactions:
- request:
    method: get
    uri: http://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019976&key=50c2cd9b5e18e390&lang=en&league_id=&site_id=1&view=gameSummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json({"details":{"id":1019976,"date":"Friday, December 06, 2019","gameNumber":"359","venue":"Adirondack
        Bank Center","attendance":3935,"startTime":"7:03 pm","endTime":"9:36 pm","duration":"2:33","gameReportUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/official-game-report.php?lang_id=1&client_code=ahl&game_id=1019976","textBoxscoreUrl":"https:\/\/lscluster.hockeytech.com\/game_reports\/text-game-report.php?lang_id=1&client_code=ahl&game_id=1019976","ticketsUrl":"https:\/\/theahl.com\/game-tickets","started":"1","final":"1","publicNotes":"","status":"Final
        SO","seasonId":"65","htvGameId":"407200","GameDateISO8601":"2019-12-06T19:00:00-05:00"},"referees":[{"firstName":"Guillaume","lastName":"Labonte","jerseyNumber":35,"role":"Referee"},{"firstName":"Michael","lastName":"Markovic","jerseyNumber":47,"role":"Referee"}],"linesmen":[{"firstName":"Neil","lastName":"Frederickson","jerseyNumber":68,"role":"Linesman"},{"firstName":"Tyler","lastName":"Loftus","jerseyNumber":11,"role":"Linesman"}],"mostValuablePlayers":[{"team":{"id":317,"name":"Bridgeport
        Sound Tigers","city":"Bridgeport","nickname":"Sound Tigers","abbreviation":"BRI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/317.jpg","divisionName":"Atlantic
        Division"},"player":{"info":{"id":7575,"firstName":"Oliver","lastName":"Wahlstrom","jerseyNumber":26,"position":"RW","birthDate":"2000-06-13"},"stats":{"goals":0,"assists":0,"points":0,"penaltyMinutes":0,"plusMinus":-1,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/7575.jpg"},{"team":{"id":390,"name":"Utica
        Comets","city":"Utica","nickname":"Comets","abbreviation":"UTI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/390.jpg","divisionName":"North
        Division"},"player":{"info":{"id":4122,"firstName":"Carter","lastName":"Camper","jerseyNumber":19,"position":"C","birthDate":"1988-07-06"},"stats":{"goals":0,"assists":2,"points":2,"penaltyMinutes":0,"plusMinus":1,"faceoffAttempts":0,"faceoffWins":0,"shots":0,"hits":0},"starting":1,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/4122.jpg"},{"team":{"id":317,"name":"Bridgeport
        Sound Tigers","city":"Bridgeport","nickname":"Sound Tigers","abbreviation":"BRI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/317.jpg","divisionName":"Atlantic
        Division"},"player":{"info":{"id":5834,"firstName":"Matt","lastName":"Lorito","jerseyNumber":14,"position":"RW","birthDate":"1990-07-03"},"stats":{"goals":1,"assists":1,"points":2,"penaltyMinutes":0,"plusMinus":2,"faceoffAttempts":0,"faceoffWins":0,"shots":3,"hits":0},"starting":0,"status":""},"isGoalie":false,"playerImage":"https:\/\/assets.leaguestat.com\/ahl\/240x240\/5834.jpg"}],"hasShootout":true,"shootoutDetails":{"homeTeamShots":[{"shooter":{"id":4632,"firstName":"Sven","lastName":"B\u00e4rtschi","jerseyNumber":47,"position":"LW","birthDate":"1992-10-05"},"goalie":{"id":5021,"firstName":"Jared","lastName":"Coreau","jerseyNumber":50,"position":"G","birthDate":"1991-11-05"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":390,"name":"Utica
        Comets","city":"Utica","nickname":"Comets","abbreviation":"UTI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/390.jpg","divisionName":"North
        Division"}},{"shooter":{"id":7101,"firstName":"Kole","lastName":"Lind","jerseyNumber":13,"position":"RW","birthDate":"1998-10-16"},"goalie":{"id":5021,"firstName":"Jared","lastName":"Coreau","jerseyNumber":50,"position":"G","birthDate":"1991-11-05"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":390,"name":"Utica
        Comets","city":"Utica","nickname":"Comets","abbreviation":"UTI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/390.jpg","divisionName":"North
        Division"}},{"shooter":{"id":4552,"firstName":"Reid","lastName":"Boucher","jerseyNumber":24,"position":"LW","birthDate":"1993-09-08"},"goalie":{"id":5021,"firstName":"Jared","lastName":"Coreau","jerseyNumber":50,"position":"G","birthDate":"1991-11-05"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":390,"name":"Utica
        Comets","city":"Utica","nickname":"Comets","abbreviation":"UTI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/390.jpg","divisionName":"North
        Division"}}],"visitingTeamShots":[{"shooter":{"id":5834,"firstName":"Matt","lastName":"Lorito","jerseyNumber":14,"position":"RW","birthDate":"1990-07-03"},"goalie":{"id":5996,"firstName":"Zane","lastName":"McIntyre","jerseyNumber":31,"position":"G","birthDate":"1992-08-20"},"isGoal":false,"isGameWinningGoal":false,"shooterTeam":{"id":317,"name":"Bridgeport
        Sound Tigers","city":"Bridgeport","nickname":"Sound Tigers","abbreviation":"BRI","logo":"https:\/\/assets.leaguestat.com\/ahl\/logos\/317.jpg","divisionName":"Atlanti[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&game_id=1019976&key=50c2cd9b5e18e390&lang=en&league_id=&view=gameCenterPlayByPlay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: json([{"event":"goalie_change","details":{"goalieComingIn":{"id":5996,"firstName":"Zane","lastName":"McIntyre","jerseyNumber":31,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"390","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"goalie_change","details":{"goalieComingIn":{"id":5021,"firstName":"Jared","lastName":"Coreau","jerseyNumber":50,"position":"G","birthDate":""},"goalieGoingOut":null,"team_id":"317","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:00"}},{"event":"shot","details":{"shooter":{"id":7893,"firstName":"Brogan","lastName":"Rafferty","jerseyNumber":5,"position":"D","birthDate":""},"goalie":{"id":5021,"firstName":"Jared","lastName":"Coreau","jerseyNumber":50,"position":"G","birthDate":""},"shooterTeamId":"390","period":{"id":"1","shortName":"1","longName":"1st"},"time":"0:52","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":200,"yLocation":48}},{"event":"penalty","details":{"game_penalty_id":"231790","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:17","againstTeam":{"id":317,"name":"","city":"","nickname":"","abbreviation":"BRI","logo":""},"minutes":"2.00","description":"Holding","ruleNumber":"","takenBy":{"id":6241,"firstName":"Parker","lastName":"Wotherspoon","jerseyNumber":27,"position":"D","birthDate":""},"servedBy":{"id":6241,"firstName":"Parker","lastName":"Wotherspoon","jerseyNumber":27,"position":"D","birthDate":""},"isPowerPlay":true,"isBench":false}},{"event":"shot","details":{"shooter":{"id":4552,"firstName":"Reid","lastName":"Boucher","jerseyNumber":24,"position":"LW","birthDate":""},"goalie":{"id":5021,"firstName":"Jared","lastName":"Coreau","jerseyNumber":50,"position":"G","birthDate":""},"shooterTeamId":"390","period":{"id":"1","shortName":"1","longName":"1st"},"time":"1:36","isGoal":false,"shotQuality":"Non
        quality on net","shotType":"Default","xLocation":132,"yLocation":67}},{"event":"shot","details":{"shooter":{"id":7[...]
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?callback=json&client_code=ahl&feed=statviewfeed&key=50c2cd9b5e18e390&lang=en&league_code=&league_id=&pageName=schedule&season=latest&site_id=1&view=bootstrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: 'json({"firebaseUrl":"leaguestat-b9523.firebaseio.com","firebaseToken":"uwM69pPkdUhb0UuVAxM8IcA6pBAzATAxOc8979oJ","firebaseApiKey":"AIzaSyBVn0Gr6zIFtba-hQy3StkifD8bb7Hi68A","current_league_id":"4","current_season_id":"72","leagues":[{"id":"4","name":"American
        Hockey League","short_name":"AHL","code":"ahl","logo_image":"https:\/\/lscluster.hockeytech.com\/download.php?client_code=ahl&file_path=img\/logos\/league-logo.jpg"}],"seasons":[{"id":"72","name":"2021
        Playoffs","default_sort":""},{"id":"68","name":"2020-21 Regular Season","default_sort":""},{"id":"67","name":"2020
        All-Star Challenge","default_sort":""},{"id":"65","name":"2019-20 Regular
        Season","default_sort":""},{"id":"64","name":"2019 Calder Cup Playoffs","default_sort":""},{"id":"63","name":"2019
        All-Star Challenge","default_sort":""},{"id":"61","name":"2018-19 Regular
        Season","default_sort":""},{"id":"60","name":"2018 Calder Cup Playoffs","default_sort":""},{"id":"58","name":"2017-[...]
